<ion-view view-title="{{about_title_image}}" can-swipe-back="false" ng-class="{'view_background':!menuopen,'view_background_menuOpen':menuopen}" id="aboutPage">

  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button head_button" ng-click="back()">
        <img class="menu_nevigator_backimg" src="img/back.png" />
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button head_button" ng-click="rightOpen()">
        <img class="menu_nevigator_img" src="img/navigator.png" />
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>


  <ion-content ng-class="{'contentborder': border.visible,'contentborder2': !border.visible, 'contentborder2':menuopen}" delegate-handle="about-content" on-scroll="getScroll()">

    <div class="aboutpage" ng-if="!menuopen && language==0" >
      <h1>{{staticData.bbqTitleEng}}</h1>
      <P  data-ng-bind-html="trustedHtml(staticData.bbqLongDescEng)"></P>
    </div>

    <div class="aboutpage" ng-if="!menuopen && language==1" >
      <h1>{{staticData.bbqTitleDutch}}</h1>
      <P  data-ng-bind-html="trustedHtml(staticData.bbqLongDescDutch)"></P>
    </div>


  </ion-content>

</ion-view>
