  <ion-modal-view class="ion-nifty-modal">
    <div class="ion-modal-content-custom">

      <ion-content class="padding" scroll="false">

         <!--<button id = "x" ng-click="closeAd()">X</button>-->
         <img id = "x" ng-click="closeAd()" ng-src="img/crossicon.png"/>

        <img class="advimage" ng-src="{{adv.advImage}}"/>
        <div class='row grillenbtnrow modalid divm'>
          <div id="advs" class="button-grill ">
            <a class="red-btn" ng-click="saveToGallery(adv.advImage)">SAVE COUPON</a>
          </div>
        </div>

      </ion-content>
    </div>
  </ion-modal-view>
