<ion-view view-title="{{basicDetails.bbqTitleImage}}" can-swipe-back="false" ng-class="{'view_background':!menuopen,'view_background_menuOpen':menuopen}" id="prScreen">

  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button head_button" ng-click="back()">
        <img class="menu_nevigator_backimg" src="img/back.png" />
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button head_button" ng-click="rightOpen()">
        <img class="menu_nevigator_img" src="img/navigator.png" />
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-header-bar id="myDivbbqlistdetail"  class="bar bar-subheader subhead1">
    <h1 ng-if="language==0" class="titletxt">{{basicDetails.bbqTitleEng}}</h1>
    <h1 ng-if="language==1" class="titletxt">{{basicDetails.bbqTitleDutch}}</h1>
  </ion-header-bar>


  <ion-content ng-style="{'top':cTopdetail }" ng-class="{'contentborder': border.visible,'contentborder2': !border.visible, 'contentborder2':menuopen}" delegate-handle="bbqbasicdetail-content" on-scroll="getScrollPositionDetail()">

    <section ng-if="!menuopen" id="overviewPage" class="meatCut">
      <div class="container">
        <div class="row row_marginpadding">
          <div class="col">
            <div class="about" ng-if="language==0">
              <p ng-bind-html="basicDetails.bbqShortDescEng"></p>
              <div class="grill" ng-if="basicDetails.bbqIngredient.length>0">
                <div class="heading">vorbereitung</div>
                <div class="col-md-5 col-sm-12 col-xs-5">
                  <div class="grill-inner">
                    <img src="img/spoon.png" alt="">
                  </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-7">
                  <div class="grill-inner">
                    <ul class="ulmargin" ng-repeat="item in basicDetails.bbqIngredient track by $index">
                      <li>{{item.bbqIngNameEng}}</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="flame-main">
                <div class="flameMiddlelogo"><img src="img/flame.png" alt=""></div>
                <div class="heading">zubereitung</div>
                <div class="row row_marginpadding">
                  <div class="col">
                    <div class="grill-inner">
                      <p ng-bind-html="basicDetails.bbqLongDescEng"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="about" ng-if="language==1">
              <p ng-bind-html="basicDetails.bbqShortDescDutch">
              </p>

              <div class="grill" ng-if="basicDetails.bbqIngredient.length>0">
                <div class="heading">vorbereitung</div>
                <div class="col-md-5 col-sm-12 col-xs-5">
                  <div class="grill-inner">
                    <img src="img/spoon.png" alt="">
                  </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-7">
                  <div class="grill-inner">
                    <ul class="ulmargin" ng-repeat="item in basicDetails.bbqIngredient track by $index">
                      <li>{{item.bbqIngNameDutch}}</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="flame-main">
                <div class="flameMiddlelogo"><img src="img/flame.png" alt=""></div>
                <div class="heading">zubereitung</div>
                <div class="row row_marginpadding">
                  <div class="col">
                    <div class="grill-inner">
                      <p ng-bind-html="basicDetails.bbqLongDescDutch"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </ion-content>

</ion-view>
