<ion-view view-title="{{title_image}}" can-swipe-back="false" ng-class="{'view_background':!menuopen,'view_background_menuOpen':menuopen}" id="selEle">

  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button head_button" ng-click="back()">
        <img class="menu_nevigator_backimg" src="img/back.png" />
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button head_button" ng-click="rightOpen()">
        <img class="menu_nevigator_img" src="img/navigator.png" />
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-header-bar id="myDivbbqlist" class="bar bar-subheader subhead1">
    <h1 ng-if="language==0" class="titletxt">Perfect BBQ Basics</h1>
    <h1 ng-if="language==1" class="titletxt">Perfect BBQ Basics</h1>
  </ion-header-bar>


  <ion-content overflow-scroll="true" ng-style="{'top':cTop }" ng-class="{'contentborder': border.visible,'contentborder2': !border.visible, 'contentborder2':menuopen}" delegate-handle="bbqbasiclist-content" on-scroll="getScrollPositionList()">


    <section ng-if="!menuopen" id="overviewPage" class="defaultSet meatCut">
      <div class="meatCutInner" ng-class="{'min': boolChangeClass}">
        <div class="meatCutWrapper">
          <div class="listing meatCutBox" ng-repeat="item in bbqBasics track by $index" ng-click="goToBBQBasicDetail(item)">
            <div class="listing-image">
              <img ng-src="{{item.bbqImage}}" alt="">
            </div>
            <h2 ng-if="language==0" ng-bind-html="item.bbqTitleEng"></h2>
            <h2 ng-if="language==1" ng-bind-html="item.bbqTitleDutch"></h2>
          </div>
        </div>
      </div>
    </section>
    <ion-infinite-scroll class="inf-scroll" ng-if="!noMoreBasics" on-infinite="loadMorebbqBasics()" distance="5%" immediate-check="false">
    </ion-infinite-scroll>

  </ion-content>

</ion-view>
