<ion-view view-title="{{title_image}}" can-swipe-back="false" ng-class="{'view_background':!menuopen,'view_background_menuOpen':menuopen}" id="eleScreen">

  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button head_button" ng-click="back()">
        <img class="menu_nevigator_backimg" src="img/back.png" />
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button head_button" ng-click="rightOpen()">
        <img class="menu_nevigator_img" src="img/navigator.png" />
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>



  <ion-header-bar id="myDiv" class="bar bar-subheader subhead1">
    <h1 ng-if="language==0" class="titletxt">{{titleObject.catTitleEng}}</h1>
    <h1 ng-if="language==1" class="titletxt">{{titleObject.catTitleDutch}}</h1>
  </ion-header-bar>


  <ion-content overflow-scroll="true" ng-style="{'top':cTop }" ng-class="{'contentborder': border.visible,'contentborder2': !border.visible, 'contentborder2':menuopen}" delegate-handle="element-content" on-scroll="getScrollPosition()">

    <section id="overviewPage" class="defaultSet" ng-if="!menuopen">
      <div class="container-inner">

        <!--Two item per row Layout-->
        <div ng-if="titleObject.catLayout=='Grid'">
          <div class="row row_marginpadding" ng-repeat="item in subCategories track by $index" ng-switch on="$index % 2">
            <div ng-switch-when="0" ng-click="searchRecipe(subCategories[$index])" class="col-sm-6 col-xs-6 col-md-6">
              <a href="javascript:void(0);" class="left-col-home rmmargtwo">
                <div class="menuLink"> <img ng-src="{{subCategories[$index].catImage}}" alt="">
                  <h2 ng-if="language==0" ng-bind-html="subCategories[$index].catTitleEng"></h2>
                  <h2 ng-if="language==1" ng-bind-html="subCategories[$index].catTitleDutch"></h2>
                </div>
              </a>
            </div>
            <div ng-switch-when="0" ng-show="subCategories[$index+1]" ng-click="searchRecipe(subCategories[$index+1])" class="col-sm-6 col-xs-6 col-md-6">
              <a href="javascript:void(0);" class="left-col-home rmmargtwo">
                <div class="menuLink"> <img ng-src="{{subCategories[$index+1].catImage}}" alt="">
                  <h2 ng-if="language==0" ng-bind-html="subCategories[$index+1].catTitleEng"></h2>
                  <h2 ng-if="language==1" ng-bind-html="subCategories[$index+1].catTitleDutch"></h2>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!--End Here-->

        <!--One item per row layout-->
        <div ng-if="titleObject.catLayout=='List'">
          <div class="row row_marginpadding" ng-repeat="item in subCategories track by $index">
            <div ng-click="searchRecipe(item)" class="col-sm-6 col-xs-6 col-md-6 layonecenter">
              <a href="javascript:void(0);" class="left-col-home rmmargone">
                <div class="menuLink"> <img ng-src="{{item.catImage}}" alt="">
                  <h2 ng-if="language==0" ng-bind-html="item.catTitleEng" class="rmmargone"></h2>
                  <h2 ng-if="language==1" ng-bind-html="item.catTitleDutch" class="rmmargone"></h2>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!--End Here-->

      </div>
    </section>

    <ion-infinite-scroll class="inf-scroll" ng-if="!noMoreSubCategories" on-infinite="loadMoreSubCategories()" distance="5%" immediate-check="false">
    </ion-infinite-scroll>


  </ion-content>

</ion-view>
