<ion-view  view-title="{{title_image}}" can-swipe-back="false" ng-class="{'view_background':!menuopen,'view_background_menuOpen':menuopen}" id="homeScreen">

  <ion-nav-bar class="bar-stable">

    <ion-nav-buttons side="right">
      <button class="button head_button" ng-click="rightOpen()">
        <img class="menu_nevigator_img_home" src="img/navigator.png" />
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>


 <ion-content id="demo" overflow-scroll="true" ng-class="{'contentborder': border.visible,'contentborder2': !border.visible, 'contentborder2':menuopen}" delegate-handle="home-content" on-scroll="getScrollPosition()">




    <section data-tap-disabled="true" id="homePage" class="defaultSet" ng-if="!menuopen">
      <div class="container-inner">
        <div class="row" ng-repeat="item in categories track by $index" ng-switch on="$index % 2">
          <div ng-switch-when="0" ng-click="loadSubCategories(categories[$index].catId, categories[$index])" class="col-sm-6 col-xs-6 col-md-6">
            <a href="javascript:void(0);" class="left-col-home">
              <div class="menuLink"> <img ng-src="{{categories[$index].catImage}}" alt="">
                <h2 ng-if="language==1" ng-bind-html="categories[$index].catTitleDutch"></h2>
                <h2 ng-if="language==0" ng-bind-html="categories[$index].catTitleEng"></h2>
              </div>
            </a>
          </div>
          <div ng-switch-when="0" ng-show="categories[$index+1]" ng-click="loadSubCategories(categories[$index+1].catId, categories[$index+1])" class="col-sm-6 col-xs-6 col-md-6">
            <a href="javascript:void(0);" class="left-col-home">
              <div class="menuLink"> <img ng-src="{{categories[$index+1].catImage}}" alt="">
                <h2 ng-if="language==0" ng-bind-html="categories[$index+1].catTitleEng"></h2>
                <h2 ng-if="language==1" ng-bind-html="categories[$index+1].catTitleDutch"></h2>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <ion-infinite-scroll class="inf-scroll" ng-if="!noMoreCategories" on-infinite="loadMoreCategories()" distance="5%" immediate-check="false">
    </ion-infinite-scroll>

  </ion-content>

</ion-view>
