<ion-view view-title="{{title_image}}" can-swipe-back="false" class="view_background" id="introScreen">
 <ion-nav-bar class="bar-stable">
 </ion-nav-bar>


  <ion-content scroll="true">
     <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false">
          <ion-slide ng-if="hideSlide">
              <div class="maindiv">
               <p ng-if="language==0" class="titletxt">Select Language</p>
               <p ng-if="language==1" class="titletxt">Sprache wählen</p>
                <div class="row togglerow" id="settingscreen">
                    <div class="col col-33 deText">DE</div>
                    <div class="col col-20 midcol">
                      <label class="toggle togglelabel">
                         <input type="checkbox" ng-model="languages.checked" ng-change="selectedLanguage()">
                         <div class="track">
                           <div class="handle"></div>
                         </div>
                      </label>
                    </div>
                    <div class="col col-33 enText">EN</div>
                  </div>
              </div>
          </ion-slide >
          <ion-slide ng-repeat="item in introData">
              <div class="maindiv">
                <p id="intpic" ng-if="language==0" ng-bind-html="item.cmsContentEng"></p>
                <p id="intpic" ng-if="language==1" ng-bind-html="item.cmsContentDutch"></p>
              </div>
          </ion-slide>
        </ion-slide-box>



        <div class="row"  >
          <div class="col col-50">
            <div class="rmline" ng-if="slideIndex > 0">
                <a ng-click="previous()" class="red-btn" href="javascript:void(0);">BACK</a>
            </div>
          </div>

          <div class="col col-50" ng-if="!hideSlide">
            <div class="rmline"  ng-if="slideIndex != 3">
                <a ng-click="next()" class="red-btn" href="javascript:void(0);">NEXT</a>
            </div>
            <div class="rmline"  ng-if="slideIndex === 3">
                <a ng-click="goToHome()" class="red-btn" href="javascript:void(0);">DONE</a>
            </div>
          </div>


          <div class="col col-50" ng-if="hideSlide">
            <div class="rmline"  ng-if="slideIndex != introData.length">
                <a ng-click="next()" class="red-btn" href="javascript:void(0);">NEXT</a>
            </div>
            <div class="rmline"  ng-if="slideIndex === introData.length">
                <a ng-click="goToHome()" class="red-btn" href="javascript:void(0);">DONE</a>
            </div>
          </div>
        </div>


        <div class="row pageclassrow" >
          <div class="col col-15" ng-if="hideSlide">
            <img ng-if="slide.oneyes" src="img/pagerSelect.png" class="slidecancel">
            <img ng-if="!slide.oneyes" src="img/pageerUnselect.png" class="slidecancel">
          </div>
          <div class="col col-15">
            <img ng-if="slide.twoyes" src="img/pagerSelect.png" class="slidecancel">
            <img ng-if="!slide.twoyes" src="img/pageerUnselect.png" class="slidecancel">
          </div>
          <div class="col col-15">
            <img ng-if="slide.threeyes" src="img/pagerSelect.png" class="slidecancel">
            <img ng-if="!slide.threeyes" src="img/pageerUnselect.png" class="slidecancel">
          </div>
          <div class="col col-15">
            <img ng-if="slide.fouryes" src="img/pagerSelect.png" class="slidecancel">
            <img ng-if="!slide.fouryes" src="img/pageerUnselect.png" class="slidecancel">
          </div>
          <div class="col col-15">
            <img ng-if="slide.fiveyes" src="img/pagerSelect.png" class="slidecancel">
            <img ng-if="!slide.fiveyes" src="img/pageerUnselect.png" class="slidecancel">
          </div>
          <div class="col col-15">
            <img ng-click="goToHome()" src="img/cancel.png" class="slidecancel">
          </div>
        </div>

  </ion-content>

</ion-view>
