<ion-view can-swipe-back="false" ng-class="{'view_background':!menuopen,'view_background_menuOpen':menuopen}" id="invite">

  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button head_button" ng-click="back()">
        <img class="menu_nevigator_backimginvite" src="img/back.png" />
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button head_button" ng-click="rightOpen()">
        <img class="menu_nevigator_imginvite" src="img/navigator.png" />
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-nav-title>
      <h1 class="titletxt">{{title_image}}</h1>
  </ion-nav-title>

  <ion-content class="overflow" ng-class="{'contentborder': border.visible,'contentborder2': !border.visible, 'contentborder2':menuopen}" delegate-handle="invite-content" on-scroll="getScrollPosition()">

    <section ng-if="!menuopen" id="contentBox" class="defaultSet meatCut grillableSection invitation">
      <div class="container-inner conta">


        <div  class="row" ng-if="!camlayout">
          <div class="col-md-12 col-sm-12 col-xs-12 rmpad">
            <div id="layoutSelectedImage" class="invitation-content rmpadmainimage newinimagediv">
              <a href="javascript:void(0)">
                  
                <img  class="newinimage" src="{{SelectedImage}}" class="img-responsive" alt="img" id="invite_img"/>

                <p  ng-class="{'img_1_txt1': imageno == 1,'img_2_txt1': imageno == 2,'img_3_txt1': imageno == 3,'img_4_txt1': imageno == 4,'img_5_txt1': imageno == 5}">{{formObject.date}}</p>

                <p  ng-class="{'img_1_txt2': imageno == 1,'img_2_txt2': imageno == 2,'img_3_txt2': imageno == 3,'img_4_txt2': imageno == 4,'img_5_txt2': imageno == 5}">{{formObject.time}}</p>

                <p class="textwidth" ng-class="{'img_1_txt3': imageno == 1,'img_2_txt3': imageno == 2,'img_3_txt3': imageno == 3,'img_4_txt3': imageno == 4,'img_5_txt3': imageno == 5}">{{formObject.title |capitalizee}}</p>

                <p class="textwidth" ng-class="{'img_1_txt4': imageno == 1,'img_2_txt4': imageno == 2,'img_3_txt4': imageno == 3,'img_4_txt4': imageno == 4,'img_5_txt4': imageno == 5}">{{formObject.longText}}</p>

                <p  ng-class="{'img_1_txt5': imageno == 1,'img_2_txt5': imageno == 2,'img_3_txt5': imageno == 3,'img_4_txt5': imageno == 4,'img_5_txt5': imageno == 5}">{{formObject.location}}</p>


              </a>
            </div>
          </div>
        </div>


        <div id="cameraLayout" class="row" ng-if="camlayout">
          <div class="col-md-12 col-sm-12 col-xs-12 rmpad">
            <div class="invitation-content rmpadmainimage">
              <div>
                <div class="row invitecamlayoutrow1">
                  <div class="col">
                    <p class="camlayout_title" style="text-transform: uppercase;">{{formObject.title}}</p>
                  </div>
                </div>
                <div class="row invitecamlayoutrow2">
                  <img class="camimage" ng-src="{{SelectedImage}}" />
                  <img class="camlayout_logo" ng-src="img/Untitled-1-1.png" />
                </div>
                <div class="row invitecamlayoutrow3">
                  <div class="col longtext_div">
                    <p class="camlayout_longtext">{{formObject.longText}}</p>
                  </div>
                </div>
                <div class="row invitecamlayoutrow4">
                  <div class="col col-50">
                    <p class="camlayout_location">{{formObject.location}}</p>
                  </div>
                  <div class="col col-50">
                    <p class="camlayout_date">{{formObject.date| date:'LLLL dd yyyy'}}</p>
                    <p class="camlayout_time">{{formObject.time}}</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 rmpad">
            <div class="listing-images">
              <ul>
                <li><a href="javascript:void(0)"><img ng-click="PickFromCam()" src="img/invite/invitation-listing-1.jpg" class="img-responsive" alt="img"/></a></li>
                <li><a href="javascript:void(0)"><img ng-click="SelectImage('img/NewInvite/Invite-preset-1-empty.jpg',1)" src="img/NewInvite/Invite-preset-1-with-text.jpg" class="img-responsive" alt="img"/></a></li>
                <li><a href="javascript:void(0)"><img ng-click="SelectImage('img/NewInvite/Invite-preset-2-empty.jpg',2)" src="img/NewInvite/Invite-preset-2-with-text.jpg" class="img-responsive" alt="img"/></a></li>
                <li><a href="javascript:void(0)"><img ng-click="SelectImage('img/NewInvite/Invite-preset-3-empty.jpg',3)" src="img/NewInvite/Invite-preset-3-with-text.jpg" class="img-responsive" alt="img"/></a></li>
                <li><a href="javascript:void(0)"><img ng-click="SelectImage('img/NewInvite/Invite-preset-4-empty.jpg',4)" src="img/NewInvite/Invite-preset-4-with-text.jpg" class="img-responsive" alt="img"/></a></li>
                <li><a href="javascript:void(0)"><img ng-click="SelectImage('img/NewInvite/Invite-preset-5-empty.jpg',5)" src="img/NewInvite/Invite-preset-5-with-text.jpg" class="img-responsive" alt="img"/></a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="invitation-form">
            <form name="inviteForm" id="inviteForm">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rmpad">
                <label ng-if="language==0">Title:</label>
                <label ng-if="language==1">Titel:</label>
                <input ng-click="rmText(1)" select-on-click my-maxlength="40" ng-model="formObject.title" type="text" name="Title" class="span3" placeholder='{{placeObject.title}}' required>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPadLeft rmpaddateleft">
                <label ng-if="language==0">Date:</label>
                <label ng-if="language==1">Datum:</label>
                <input ng-readonly="true" type="text" ng-click="openDatePicker();rmText(2)" ng-model='formObject.date' name="date" class="span3" placeholder='' required>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPadRight rmpadtimeright">
                <label ng-if="language==0">Time:</label>
                <label ng-if="language==1">Uhrzeit:</label>

                <input ng-readonly="true" ng-click="openTimePicker1();rmText(3)" ng-model="formObject.formtime" type="text" name="time" class="span3" placeholder='' required>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rmpad">
                <label ng-if="language==0">Location:</label>
                <label ng-if="language==1">Ort:</label>

                <input ng-click="rmText(4)" select-on-click my-maxlength="40" ng-model="formObject.location" type="text" name="Title" class="span3" ng-attr-placeholder='{{placeObject.location}}' required>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rmpad">
                <label ng-if="language==0">Invitation text:</label>
                <label ng-if="language==1">Einladungstext:</label>

                <textarea ng-click="rmText(5)" select-on-click my-maxlength="100" ng-model="formObject.longText" name="comment" form="usrform" ng-attr-placeholder='{{placeObject.longText}}' required></textarea>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="button-grill sendInvitation">
        <a ng-if="language==0" ng-click="invite(inviteForm)" class="red-btn" href="javascript:void(0);">send invite</a>
        <a ng-if="language==1" ng-click="invite(inviteForm)" class="red-btn" href="javascript:void(0);">Einladen</a>
      </div>
    </section>



  </ion-content>
</ion-view>
