<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    <!--<ion-nav-bar class="bar-stable prelogin_Header">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>-->
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu id="menuview" enable-menu-with-back-views="false" width="{{smWidth}}" side="right" class="view_background ">

    <ion-header-bar class="bar-assertive menuHeader">
      <div class="listing-form" data-tap-disabled="true">
        <form class="searchlayout">
          <div class="row nopr">
            <div class="col nopr" ng-class="{'col-80': showCancel,'col-99':!showCancel}">
              <div class="form-group">
                <input ng-readonly="searchInput" type="search" class="form-control " placeholder="SEARCH" ng-model="search.text" ng-change="searchItem(search.text);" ng-click="showSearch()" ng-model-options="{debounce:500}">
              </div>
            </div>
            <div class="col col-20 nopr" ng-if="showCancel && menuopen">
              <div>
                <img ng-click="cancelSearch()" class="cancelbtn" src="img/cancel.png" alt="">
              </div>
            </div>
          </div>
        </form>
      </div>
    </ion-header-bar>

    <ion-content overflow-scroll="true" delegate-handle="menu-content">

      <div class="">
        <div class="navSearch">
          <div class="navigation" ng-if="!showCancel">
            <ul id="searchpage">
              <li class="na" ng-click="stateChange('home')">
                <a>
                  <img class="" src="img/flame-menu.png" alt="">
                  <h2>Home</h2>
                </a>
              </li>
              <li ng-show="alignedTimer.length>0" class="na">
                <a ng-click="stateChange('roadmap')">
                  <h2 ng-if="language==0">Timer RoadMap</h2>
                  <h2 ng-if="language==1">Alle Timer</h2>
                </a>
              </li>
              <li  ng-click="stateChange(item)"  ng-repeat="item in categories track by $index">
                <a href="javascript:void(0);">
                  <img ng-src="{{item.catImage}}" alt="">
                  <h2 ng-if="language==0">{{item.catTitleEng}}</h2>
                  <h2 ng-if="language==1">{{item.catTitleDutch}}</h2>
                  </a>
              </li>
              <li ng-click="goToAbout(item.cmsId)" ng-repeat="item in fixed_categories track by $index">
                <a>
                  <h2 ng-if="language==0">{{item.cmsTitleEng}}</h2>
                  <h2 ng-if="language==1">{{item.cmsTitleDutch}}</h2>
                </a>
              </li>
              <li ng-click="goToSetting()">
                <a>
                  <h2 ng-if="language==0">Settings</h2>
                  <h2 ng-if="language==1">Einstellungen</h2>
                </a>
              </li>

              <li ng-click="goToIntro()">
                <a>
                  <h2 ng-if="language==0">Introduction</h2>
                  <h2 ng-if="language==1">Einleitung</h2>
                </a>
              </li>

            </ul>
          </div>



          <div class="searchBox" ng-if="showCancel" id="searchpage">
            <div class="searchListing listingPage">
              <ul>
                <li ng-repeat="item in searchList track by $index">
                  <a ng-click="loadSubCategories(item.id, item)" ng-if="item.type=='category'">
                      <img ng-src="{{item.image}}" alt="">
                      <h2 ng-if="language==0">{{item.titleEng}}</h2>
                      <h2 ng-if="language==1">{{item.titleDutch}}</h2>
                  </a>
                  <a ng-click="getRecipeDetail(item)" ng-if="item.type!='category'">
                      <img ng-src="{{item.image}}" alt="">
                      <h2 ng-if="language==0">{{item.titleEng}}</h2>
                      <h2 ng-if="language==1">{{item.titleDutch}}</h2>
                  </a>
                </li>
              </ul>
              <ion-infinite-scroll class="inf-scroll" ng-if="!noMoreSearch" on-infinite="moreSearchKeyword(search.text)" distance="5%" immediate-check="false">
              </ion-infinite-scroll>
            </div>
          </div>

          <div ng-if="noSearchItem">
            <p class="norecordfound">No record found </p>
          </div>

        </div>
      </div>
    </ion-content>

  </ion-side-menu>
</ion-side-menus>
