<ion-view view-title="{{title_image}}" can-swipe-back="false" ng-class="{'view_background':!menuopen,'view_background_menuOpen':menuopen}" id="prScreen">

  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button head_button" ng-click="back()">
        <img class="menu_nevigator_backimg" src="img/back.png" />
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button head_button" ng-click="rightOpen()">
        <img class="menu_nevigator_img" src="img/navigator.png" />
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-header-bar id="myDivprep" class="bar bar-subheader subhead1">
    <h1 ng-if="language==0" class="titletxt">{{titleObject.recTitleEng}}</h1>
    <h1 ng-if="language==1" class="titletxt">{{titleObject.recTitleDutch}}</h1>
  </ion-header-bar>


  <ion-content ng-style="{'top':cTop }" ng-class="{'hasFotter': recDetail.recGrilled!='0','contentborder': border.visible,'contentborder2': !border.visible, 'contentborder2':menuopen}" delegate-handle="prepscreen-content" on-scroll="getScrollPosition()">

    <section ng-if="!menuopen" id="overviewPage" class="meatCut">
      <div class="container">
        <div class="row row_marginpadding">
          <div class="col">
            <div class="about" ng-if="language==0">
              <p ng-bind-html="trustedHtml(recDetail.recShortDescEng)"></p>
              <div class="grill">
                <div class="heading" ng-if="language==1">vorbereitung</div>
                <div class="heading" ng-if="language==0">Preparation</div>
                <div class="col-md-5 col-sm-12 col-xs-5">
                  <div class="grill-inner">
                    <img src="img/spoon.png" alt="">
                  </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-7">
                  <div class="grill-inner">
                    <ul class="ulmargin" ng-repeat="item in recDetail.recIngredient track by $index">
                      <li>{{item.recIngNameEng}}</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="flame-main">
                <div class="flameMiddlelogo"><img src="img/flame.png" alt=""></div>
                <div class="heading" ng-if="language==1">zubereitung</div>
                <div class="heading" ng-if="language==0">How to grill</div>
                <div class="row row_marginpadding">
                  <div class="col">
                    <div class="grill-inner">
                      <p ng-bind-html="trustedHtml(recDetail.recLongDescEng)"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="about" ng-if="language==1">
              <p ng-bind-html="trustedHtml(recDetail.recShortDescDutch)"></p>

              <div class="grill">
                <div class="heading" ng-if="language==1">vorbereitung</div>
                <div class="heading" ng-if="language==0">Preparation</div>
                <div class="col-md-5 col-sm-12 col-xs-5">
                  <div class="grill-inner">
                    <img src="img/spoon.png" alt="">
                  </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-7">
                  <div class="grill-inner">
                    <ul class="ulmargin" ng-repeat="item in recDetail.recIngredient track by $index">
                      <li>{{item.recIngNameDutch}}</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="flame-main">
                <div class="flameMiddlelogo"><img src="img/flame.png" alt=""></div>
                <div class="heading" ng-if="language==1">zubereitung</div>
                <div class="heading" ng-if="language==0">How to grill</div>
                <div class="row row_marginpadding">
                  <div class="col">
                    <div class="grill-inner">
                      <p ng-bind-html="trustedHtml(recDetail.recLongDescDutch)"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="button-grill">
        <a class="red-btn" ui-sref="app.setparameter({stateParam: recDetail})">GRILLEN</a>
      </div>-->
    </section>

  </ion-content>

  <div class="bar bar-footer view_background Fotterheight" ng-if="recDetail.recGrilled!='0'">
    <div class=" button-grill ">
      <a ng-if="language==0 " class="red-btn " ng-click="setParameter() ">GRILL</a>
      <a ng-if="language==1 " class="red-btn " ng-click="setParameter() ">GRILLEN</a>
    </div>
  </div>

</ion-view>
