<ion-view view-title="{{title_image}}" can-swipe-back="false" ng-class="{'view_background':!menuopen,'view_background_menuOpen':menuopen}" id="setpara">

  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button head_button" ng-click="back()">
        <img class="menu_nevigator_backimg" src="img/back.png" />
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button head_button" ng-click="rightOpen()">
        <img class="menu_nevigator_img" src="img/navigator.png" />
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-header-bar id="myDivSetpera" class="bar bar-subheader subhead1">
    <h1 ng-if="language==0" class="titletxt">{{titleObject.recTitleEng}}</h1>
    <h1 ng-if="language==1" class="titletxt">{{titleObject.recTitleDutch}}</h1>
  </ion-header-bar>


  <ion-content ng-style="{'top':cTop }" ng-class="{'contentborder': border.visible,'contentborder2': !border.visible, 'contentborder2':menuopen}" delegate-handle="setpara-content" on-scroll="getScrollPosition()">

    <section ng-if="!menuopen" id="overviewPage" class="defaultSet meatCut">
      <div class="container-inner">
        <div class="rib-para" style="margin-bottom: 0px;">
          <h1 class="toptext" ng-if="language==0" style="margin-bottom: 10px;">Please​ ​select​ ​thickness​ ​and​ ​core​ ​temperature</h1>
          <h1 class="toptext" ng-if="language==1" style="margin-bottom: 10px;">Wähle​ ​jetzt Dicke​ ​und​ ​Kerntemperatur.</h1>
        </div>


        <div class="row rangeDisplaydiv">
          <p ng-if="range1" class="range1value" ng-class="{'range1valueandnot2' : !rangeSlider.range2}">{{range1}} cm</p>
        </div>

        <div class="row cmDiv">
          <div class="col range1divpcol" ng-class="{'col-25': rangeSlider.range1,'col-50' : !rangeSlider.range2}" ng-if="rangeSlider.range1 && titleObject.recThickMode=='yes'">
            <div ng-class="{'range1divpad' : !rangeSlider.range2}">
              <p class="cmtext">5 <span class="cm">cm</span></p>
              <p class="cmtext">4 <span class="cm">cm</span></p>
              <p class="cmtext">3 <span class="cm">cm</span></p>
              <p class="cmtext">2 <span class="cm">cm</span></p>
              <p class="cmtext">1 <span class="cm">cm</span></p>
            </div>

          </div>

          <div class="col range1divrangecol" ng-class="{'col-25': rangeSlider.range1, 'col-50' : !rangeSlider.range2}" ng-if="rangeSlider.range1 && titleObject.recThickMode=='yes'">

            <div class="sliderDiv" on-touch="touchStart()" on-release="touchRelease()">
              <input kendo-slider smallStep="1" min="1" max="9" showButtons="false" ng-model="width1" ng-model="height" k-tooltip="{ enabled: false }" ng-change="range1Change(width1)" k-orientation="'vertical'" />
            </div>
          </div>

          <div class="col" ng-class="{'col-50': !rangeSlider.range1, 'col-33' : rangeSlider.range2, 'colmargin':rangeSlider.range1 && rangeSlider.range2 }" ng-if="rangeSlider.range2 && titleObject.recTempMode=='yes'">

            <p ng-class="{'rangetwotext2color1': rangeSlider.range1, 'rangetwotext2color1only' : !rangeSlider.range1}" class="rangetwotext2 ">Rare</sub>
            </p>
            <p ng-class="{'rangetwotext2color2': rangeSlider.range1, 'rangetwotext2color2only' : !rangeSlider.range1}" class="rangetwotext2">Medium-Rare</p>
            <p ng-class="{'rangetwotext2color3': rangeSlider.range1, 'rangetwotext2color3only' : !rangeSlider.range1}" class="rangetwotext2 ">Medium</sub>
            </p>
            <p ng-class="{'rangetwotext2color4': rangeSlider.range1, 'rangetwotext2color4only' : !rangeSlider.range1}" class="rangetwotext2 ">Medium-Well</sub>
            </p>
            <p ng-class="{'rangetwotext2color5': rangeSlider.range1, 'rangetwotext2color5only' : !rangeSlider.range1}" class="rangetwotext2 ">Well-Done</p>

          </div>
          <div class="col col-10" ng-if="rangeSlider.range2 && titleObject.recTempMode=='yes'">
            <div id="secrange" on-touch="touchStart()" on-release="touchRelease()" class="sliderDiv">
              <input kendo-slider smallStep="1" min="1" max="5" showButtons="false" ng-model="width2" ng-change="range2Change(width2)" ng-model="height" k-tooltip="{ enabled: false }" k-orientation="'vertical'" />
            </div>
          </div>
        </div>

      </div>
    </section>

    <div class='row grillenbtnrow' ng-if="!menuopen">
      <div class="button-grill" style="margin-top:0px;padding-top:5px">
        <a class="red-btn" ng-click="getRecipeTiming()">GRILLEN</a>
        <div class="helpIcon"><a ng-click="loadBBQBasics()" href="javascript:void(0);"><img src="img/question.png" alt=""></a></div>
      </div>
    </div>

  </ion-content>

</ion-view>
