<ion-view view-title="{{title_image}}" can-swipe-back="false" ng-class="{'view_background':!menuopen,'view_background_menuOpen':menuopen}" id="settingPage">

  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button head_button" ng-click="back()">
        <img class="menu_nevigator_backimg" src="img/back.png" />
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button head_button" ng-click="rightOpen()">
        <img class="menu_nevigator_img" src="img/navigator.png" />
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>


  <ion-content id="settingscreen" scroll="false">

    <div class="row" ng-if="!menuopen">
      <div class="col col-33 deText">DE</div>
      <div class="col col-20 midcol">
        <label class="toggle togglelabel">
           <input type="checkbox" ng-model="languages.checked" ng-change="selectedLanguage()">
           <div class="track">
             <div class="handle"></div>
           </div>
        </label>
      </div>
      <div class="col col-33 enText">EN</div>
    </div>

  </ion-content>
</ion-view>
