<ion-view view-title="{{title_image}}" can-swipe-back="false" ng-class="{'view_background':!menuopen,'view_background_menuOpen':menuopen}" id="timer">

  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button head_button" ng-click="back()">
        <img class="menu_nevigator_backimg" src="img/back.png" />
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button head_button" ng-click="rightOpen()">
        <img class="menu_nevigator_img" src="img/navigator.png" />
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content ng-class="{'contentborder': border.visible,'contentborder2': !border.visible, 'contentborder2':menuopen}" delegate-handle="timerRoad-content" on-scroll="getScrollPosition()">
    <section ng-if="!menuopen" id="overviewPage" class="defaultSet roadMapSection">
      <div class="roadmap">
        <div class="roadmapInner">
          <div ng-class="{'changebg': item.isActive}" class="listing meatCutBox listing-first" ng-repeat="item in alignedTimer | orderBy:'-totalTime'" ng-click="openTimer(item.timerIndex)">
            <div class="listing-image">
              <img src="{{item.recImage}}" alt="">
            </div>

            <a class="potatoExt" id="txt">
              <div class="listing-item">
                <h2 ng-if="language==0">{{item.recTitleEng}}</h2>
                <h2 ng-if="language==1">{{item.recTitleDutch}}</h2>
                <p ng-if="language==0 && item.nextStep.nextTime!=0 && item.nextStep.nextTime >= 3600">{{item.nextStep.nextTime | secondsToDateTime | date:'hh:mm:ss'}} - {{item.nextStep.recIntervalTitleEng}}</p>
                <p ng-if="language==0 && item.nextStep.nextTime!=0 && item.nextStep.nextTime < 3600">{{item.nextStep.nextTime | secondsToDateTime | date:'mm:ss'}} - {{item.nextStep.recIntervalTitleEng}}</p>

                <p ng-if="language==1 && item.nextStep.nextTime!=0 && item.nextStep.nextTime >= 3600">{{item.nextStep.nextTime | secondsToDateTime  | date:'hh:mm:ss'}} - {{item.nextStep.recIntervalTitleDutch}}</p>
                <p ng-if="language==1 && item.nextStep.nextTime!=0 && item.nextStep.nextTime < 3600">{{item.nextStep.nextTime | secondsToDateTime  | date:'mm:ss'}} - {{item.nextStep.recIntervalTitleDutch}}</p>

              </div>
            </a>

            <div class="listing-time">
              <p class="remainTimer">Remaining</p>
              <p ng-if="item.countDown >= 3600">{{item.countDown | secondsToDateTime | date:'hh:mm:ss'}}</p>
              <p ng-if="item.countDown < 3600">{{item.countDown | secondsToDateTime | date:'mm:ss'}}</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div ng-if="!alignedTimer.length">
        <p class="norecordfound" >No active timer</p>
    </div>
  </ion-content>

</ion-view>
