<ion-view view-title='<img class="title_logo" src="{{currentTimer.recImage}}">' can-swipe-back="false" ng-class="{'view_background':!menuopen,'view_background_menuOpen':menuopen}" id="settimer">

  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button head_button" ng-click="back()">
        <img class="menu_nevigator_backimg" src="img/back.png" />
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button head_button" ng-click="rightOpen()">
        <img class="menu_nevigator_img" src="img/navigator.png" />
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-header-bar id="myDivTimer" class="bar bar-subheader timer-subh1">
    <h1 ng-if="language==0" class="titletxt">{{currentTimer.recTitleEng}}</h1>
    <h1 ng-if="language==1" class="titletxt">{{currentTimer.recTitleDutch}}</h1>
  </ion-header-bar>


  <ion-content ng-style="{'top':cTop }"  ng-class="{'contentborder': border.visible,'contentborder2': !border.visible, 'contentborder2':menuopen}" delegate-handle="settimer-content" on-scroll="getScrollPosition()">

<div ng-if="!menuopen">
    <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="{{alignedTimer.length > 1 ? true : false}}">
      <ion-slide ng-repeat="slide in alignedTimer track by $index">

        <div class="modesContainer">
          <div ng-if="slide.recCookingStyle" class="modes">
                  <img class="forpera" src="img/meat-color.png" alt="">
                  <p class="image-text meat-color-text" ng-bind-html="slide.recCookingStyle"></p>
          </div>
          <div ng-if="slide.recTemp" class="modes">
                  <img class="forpera" src="img/meat-center.png" alt="">
                  <p class="image-text meat-center-text">{{slide.recTemp}}<sup>o</sup>C</p>
          </div>
          <div ng-if="slide.recThickness" class="modes">
                <img class="forpera" src="img/thickness.png" alt="">
                <p class="image-text thickness-text">{{slide.recThickness}} <span>cm</span></p>
          </div>
          <div ng-if="slide.recBowlTemp" class="modes">
                  <img class="forpera" src="img/bbq.png" alt="">
                  <p class="image-text bbq-text">{{slide.recBowlTemp}}<sup>o</sup>C</p>
          </div>
        </div>

        <!-- Show div according to timer condition-->
        <div class="circle-btn-div" ng-if="!slide.started && !slide.paused && !slide.done">
          <div class="" ng-click="openCategory()">
              <a ng-if="language==0" class="circle-red-btn">Add More</a>
              <a ng-if="language==1" class="circle-red-btn">Mehr grillen</a>
          </div>
          <div ng-click='slide.startTimer($index)' class="">
              <a class="circle-red-btn">Start</a>
          </div>
          <div class="cicrcle-time-remaining"> Time remaining:</div>
          <div ng-if="slide.countDown >= 3600" class="cicrcle-time-15">{{slide.countDown | secondsToDateTime | date:'hh:mm:ss'}}</div>
          <div ng-if="slide.countDown < 3600" class="cicrcle-time-15">{{slide.countDown | secondsToDateTime | date:'mm:ss'}}</div>
        </div>


        <div class="circle-btn-div" ng-if="!slide.paused && slide.started && !slide.done">
          <div class="" ng-click='slide.pauseTimer($index);'><a class="cicle-yellow-btn" href="#">STOP</a></div>
          <div class="circle-rotate" ng-if="language==0"> {{currentTimer.cuurentStep.recIntervalTitleEng}}</div>
          <div class="circle-rotate" ng-if="language==1"> {{currentTimer.cuurentStep.recIntervalTitleDutch}}</div>
          <div class="cicrcle-time-remaining"> Time remaining:</div>
          <div ng-if="slide.countDown >= 3600" class="cicrcle-time-15">{{slide.countDown | secondsToDateTime | date:'hh:mm:ss'}}</div>
          <div ng-if="slide.countDown < 3600" class="cicrcle-time-15">{{slide.countDown | secondsToDateTime | date:'mm:ss'}}</div>

        </div>


        <div class="circle-btn-div-stop" ng-if="slide.paused && !slide.started && !slide.done">
          <!-- <div class="" ng-click="openCategory()"><a class="circle-red-btn">Add More</a></div>-->
          <div class="" ng-click="removeTimer($index)">
              <a ng-if="language==0" class="circle-red-btn">Remove</a>
              <a ng-if="language==1" class="circle-red-btn">Entfernen</a>
          </div>
          <div class="" ng-click="makeAnother($index)">
              <a ng-if="language==0" class="circle-red-btn">Restart</a>
              <a ng-if="language==1" class="circle-red-btn">Neu starten</a>
          </div>
          <div class="flame-stoped">
            <img ui-sref="app.home" class="flame-stoped-img" src="img/flame-icon.png" alt="">
            <span>Home</span>
          </div>
        </div>


        <div class="circle-btn-div-stop" ng-if="!slide.paused && !slide.started && slide.done">
          <div class="circle-done">All done! <br>Time to eat!</div>
          <div class="">
              <a ng-if="language==0" class="circle-red-btn" ng-click="makeAnother($index)">Make Another</a>
              <a ng-if="language==1" class="circle-red-btn" ng-click="makeAnother($index)">Wiederholen</a>
          </div>
          <div class="" ng-click="removeTimer($index)">
              <a ng-if="language==0" class="circle-red-btn">Remove</a>
              <a ng-if="language==1" class="circle-red-btn">Entfernen</a>
          </div>
          <!--<div class="flame-stoped">
            <img class="flame-stoped-img" src="img/flame-icon.png" alt="">
            <span>Home</span>
          </div>-->
        </div>

        <div style="margin-top: 20px;" svgid="svg_{{$index}}" stroke="12" round-progress max="slide.totalTime" current="slide.timerCount" clockwise="true" color="#770000" bgcolor="#cc9933" rounded="false" class="text-center">
        </div>
      </ion-slide>
    </ion-slide-box>


    <!-- Use To show when timer done/complete-->
    <div class="row" ng-if="!currentTimer.paused && currentTimer.nextStep.recIntervalId">
      <div class="col col-99 grill-timer-inner">
        <div class="heading-2" ng-if="language==0 && currentTimer.nextStep.nextTime >= 3600">{{currentTimer.nextStep.nextTime | secondsToDateTime | date:'hh:mm:ss'}} - {{currentTimer.nextStep.recIntervalTitleEng}}</div>
        <div class="heading-2" ng-if="language==0 && currentTimer.nextStep.nextTime < 3600">{{currentTimer.nextStep.nextTime | secondsToDateTime | date:'mm:ss'}} - {{currentTimer.nextStep.recIntervalTitleEng}}</div>

        <p class="texttraf" ng-if="language==0" ng-bind-html="currentTimer.nextStep.recIntervalDescEng"></p>
        <div class="heading-2" ng-if="language==1 && currentTimer.nextStep.nextTime >= 3600">{{currentTimer.nextStep.nextTime | secondsToDateTime | date:'hh:mm:ss'}} - {{currentTimer.nextStep.recIntervalTitleDutch}}</div>
        <div class="heading-2" ng-if="language==1 && currentTimer.nextStep.nextTime < 3600">{{currentTimer.nextStep.nextTime | secondsToDateTime | date:'mm:ss'}} - {{currentTimer.nextStep.recIntervalTitleDutch}}</div>
        <p class="texttraf" ng-if="language==1" ng-bind-html="currentTimer.nextStep.recIntervalDescDutch"></p>
      </div>
    </div>

    <div class="shareInviteBtn grillablesDone" ng-if="currentTimer.done">
      <div class="share-btn-left"><a href="#" ng-click="share()" class="red-btn-tiny">Share</a></div>
      <div class="share-btn-right"><a class="red-btn-tiny" ng-click="invite($index)">invite</a></div>
    </div>

    <div class="grill-timer-inner text-center" ng-if="currentTimer.paused">
      <p class="stopTimerText">You’ve stopped your timer. Remove to get back to grillables or restart to give it another shot.</p>
    </div>

</div>
  </ion-content>
</ion-view>
