@charset "utf-8";
/* CSS Document */

/*---------------------------Reset Css------------------------------------------- */


article, aside, details, fig, caption, figure, footer, header, hgroup, menu, nav, section, body { display: block;-ms-text-size-adjust: none;  -moz-text-size-adjust: none;  -o-text-size-adjust: none;  -webkit-text-size-adjust: none;
}
html, body{	-webkit-text-size-adjust: 100%;	-moz-text-size-adjust: 100%;	-ms-text-size-adjust: 100%;}
a:hover {text-decoration: none;}
*,*:focus{ outline:0px solid #000;}
input, select , textarea { vertical-align:middle; outline:none;border:none; }
textarea,input[type="text"],input[type="button"],input[type="submit"], select { -webkit-appearance: none ; -moz-appearance: none ; -o-appearance: none ;}
header.Show .logo { display:none;}

/** front view **/
#frontView { height: 100%;  position: absolute;  width: 100%;}
.frontBox { display:table; margin:0 auto; max-width: 640px;  text-align: center;  width: 100%; position:relative; height: 100%;}
a.splashLogo img { width: 180px;}
a.splashLogo { display: table-cell;  height: 100%;  vertical-align: middle;}
/**  home page css  **/
.wapper {  display: inline-block;  height: 100%;  width: 100%;}
body { background-image: url("../../img/bg.jpg");  background-repeat: repeat;  color: #3a383a;  float: left; font-family: "source_sans_prosemibold" !important; font-size: 13px; width: 100%;}
.container { position: relative;}
.container-inner { position: relative; max-width:550px; width:100%; margin:0 auto;}
.logo { float: left;  margin-top: 54px;  text-align: center;  width: 100%; margin-left:-7px;}
.rsMenu { position: absolute;  right: 33px;  top: 34px; transition:all 0.5s ease-in-out 0s; -moz-transition:all 0.5s ease 0s; -webkit-transition:all 0.5s ease-in-out 0s; cursor:pointer;}
.container-inner{  margin-left: auto;  margin-right: auto;  padding-left: 15px;  padding-right: 15px;}
.left-col-home h2 { color: #770000;  float: left;  font-size: 25px;  letter-spacing: 0.2px; line-height: 29px;margin: 11px 0 0;  text-align: center;  text-transform: uppercase;  width: 100%;}
.defaultSet {  float: left;  width: 100%;}
section#homePage { text-align: center;}
#homePage .container-inner { margin-top: 66px;}
.left-col-home { float: left;  margin: 0 0 36px;  width: 100%;}

/** responsive mamu **/
.nav-menu.hide, .nav-menu.hide .navOuter {  display: block ;}
.navbtn { position: absolute; right: 35px; top: 34px; transition:all 0.5s ease-in-out 0s;-moz-transition:all 0.5s ease 0s; -webkit-transition:all 0.5s ease-in-out 0s;}
.navigationOuter { display: none; max-width: 0px; width:0px; transition:all 0.5s ease-in-out 0s;-moz-transition:all 0.5s ease 0s; -webkit-transition:all 0.5s ease-in-out 0s;}
.navigationOuter.Show {  display: block;  position: absolute;  top: 0;  right: 0; transition:all 0.5s ease-in-out 0s;-moz-transition:all 0.5s ease 0s; -webkit-transition:all 0.5s ease-in-out 0s;}
.navSearch {  float: left;  width: 100%;}
.navigation { float: right;  width: 100%;}
.navigationOuter.Show { background: rgba(0, 0, 0, 0) url("../img/menu_bg.jpg") no-repeat scroll center top ;display: block; height: 100%;  max-width: 521px;  overflow-x: scroll;  position: fixed;  right: 0;  top: 0; width: 100%;  z-index: 999;}
.rsMenu.Show { left: 33px;  right: auto; transition:all 0.5s ease-in-out 0s; -moz-transition:all 0.5s ease 0s; -webkit-transition:all 0.5s ease-in-out 0s;}
header.Show { background-image: url("../img/menu_side.jpg"); background-position: left center; background-repeat: repeat;
background-size: 133px auto;  height: 100%;  position: fixed;  top: 0;  width: 100%; z-index: 99999;
}
.navigation ul { float: left;  padding: 0;  width: 100%; position: relative; display: table; vertical-align: middle;}
.navigation ul li {  display:table;  height: 123px;  position: relative;  vertical-align: middle;}
.navigation li::before,.listing-form:after {  background: #770000 url("../../img/verticle.png") repeat scroll center bottom;  content: "";  height: 100%;  left: 0;  position: absolute;  top: 0;  width: 4px;  z-index: 100;}
.navigation li::after, .listing-form::before { background: #770000 url("../../img/horizontal.png") repeat scroll center bottom;  bottom: 0;  content: "";  height: 4px;  left: 4px;  position: absolute;  width: 99.1%; z-index: 100;}
.listing-form {  float: left;  position: relative;  width: 100%;}
.navigation a {  display: table-cell;  vertical-align: middle;  width: 100%;}
.navSearch h2 {  color: #770000;  font-size: 25px;  margin: 0;  text-transform: uppercase;}
.navigation li {  float: left;  list-style: outside none none;  padding: 16px 28px 24px;  width: 100%;}
.navigation img {  float: left;  margin: 0 18px 0 0;  max-width: 90px;}
.navSearch h2 { display: inline-block;  margin: 0 0 0 18px; vertical-align: middle;}
.navigation img {  display: inline;  float: none;  margin: 0;  max-width: 90px;}
.navigation .hoverPic ,.navigation li:hover .simlePic ,.navigation ul li.active .simlePic { display: none;}
.navigation li:hover .hoverPic { display: inline-block;}
.navigation .hoverPic{ height:81px; margin-left:5px; margin-right:9px; margin-top:0;  max-width:80px;  width:100%; }
.navigation ul li.active .hoverPic { height:81px; margin-left:5px; margin-right:9px; margin-top:0;  max-width:76px;  width:100%; display: inline-block;}
.navSearch .form-group {  margin-bottom: 0;  padding:24px;}


/** about **/
.about { float: left;  margin: 0;  max-width: 525px;  width: 100%;}
.about p { color: #770000;  font-family: "source_sans_proregular" !important;  font-size: 25px;  letter-spacing: 0.2px;  margin: 0 0 27px;  /*text-align: justify; */line-height:normal;}
.about h1 { color: #770000; font-family: "source_sans_probold" !important; font-size: 35px; letter-spacing: 0.6px; margin: 61px 0 26px; text-align: center;  text-transform: uppercase; line-height:normal;}
.backtn { left: 27px;  position: absolute;  top: 30px;}
.backtn.Show { display: none;}
.listing-nav-left {  display: table-cell;  vertical-align: middle;}


/**  search Page  **/
.searchBox , .roadmap ,.meatCutInner{  margin: 0 auto;  max-width: 640px;  width: 100%; position: relative;}
.searchListing ul li::after {  background: #770000 url("../../img/horizontal.png") repeat scroll center bottom; bottom: 0;  content: "";  height: 4px;  left: 0;  position: absolute;  width: 100%;  z-index: 100;}
.searchListing h2 { color: #770000;  display: inline-block;  font-size: 25px;  margin:40px 0 0 25px; text-align: left; text-transform: uppercase;  letter-spacing: 0.5px;}
.searchListing li img { display: inline-block;}
.searchListing ul li a { display: table-cell;  margin: 0;  padding:0px 40px 14px 30px; width: 100%;}
.searchListing ul li {  display: table;  list-style:none;  margin: 0;  min-height: 120px;  position: relative;  width: 100%;}
.form-group input{  background: url("../../img/search.png") no-repeat scroll 0 0 / 100% 100%; border: medium none; color: #000000; font-size:25px;  height: 70px;  max-width: 470px;  padding: 0 20px;  width: 100%;  z-index: 100;  font-family:'source_sans_proregular' !important; }
.form-group ::-webkit-input-placeholder { /* Chrome/Opera/Safari */  color: #000; opacity:1;}
.form-group ::-moz-placeholder { /* Firefox 19+ */  color: #000; opacity:1;}
.form-group :-ms-input-placeholder { /* IE 10+ */  color: #000; opacity:1;}
.form-group :-moz-placeholder { /* Firefox 18- */  color: #000; opacity:1;}
.searchListing ul { float: left;  padding: 0;  width: 100%;}
.searchListing .search-cancel img { float: right;  margin: 0 38px 0 0;  position: absolute;  right: 0;  top: 39px;}	
.searchListing .form-group { margin-bottom: 0;}
.searchListing .form-group input { margin-top: 0;}
.searchListing .search-cancel { float: left;  margin: 0;  padding: 25px 0 29px 30px;  width: 100%;}
.searchBox input { font-size: 26px;}

/**  road map **/
.activeTimaer h1 {  color: #770000;  float: left; font-size: 35px;  font-weight: bold; margin: 0 0 40px;  text-align: center;  text-transform: uppercase;  width: 100%;}
.flameLogo { text-align: center; margin-bottom:22px;}
.roadmapInner{ margin-top: 34px; width:100%; float:left; position:relative;}
.roadmapInner::after { background: #770000 url("../../img/horizontal.png") repeat scroll center bottom;top: 0;
content: ""; height: 4px; left: 0; position: absolute;  width: 100%; z-index: 100;}




/**  gril table  **/
.grilLogo {  float: left;  text-align: center;  width: 100%; margin-top: 50px;}
.grilLogo h1 { color:#770000;  float:left;  font-family:'source_sans_probold' !important; font-size:35px; margin:20px 0 2px;  text-align:center;  text-transform:uppercase;  width:100%;}
#overviewPage .container-inner { margin-top: 52px;}
#overviewPage .left-col-home h2 { margin: 11px 0 24px;}

/**  fixed header  **/
header {  background: rgba(0, 0, 0, 0) url("../../img/bg.jpg") repeat-y scroll center top / cover ; position: fixed; padding-bottom: 20px; width: 100%;  z-index: 999;}
section#aboutPage ,section#homePage { margin-top: 152px;}

/**  fixed header  **/
section#overviewPage { margin-top: 280px;
}

/** roadmapInner **/
.logo.mapLogo {  float: left;  text-align: center;  width: 100%; margin-top: 50px;}
.logo.mapLogo h1 { color:#770000;  float:left;  font-family:'source_sans_probold' !important; font-size:35px; margin:30px 0 10px;  text-align:center;  text-transform:uppercase;  width:100%;}
.roadmapInner .listing::after {  background: #770000 url("../../img/horizontal.png") repeat scroll center bottom;  bottom: 0;  content: "";  height: 4px;  left: 0;
  position: absolute;  width: 100%;  z-index: 100;}
.roadmapInner .listing { display: table;  height: 120px;  list-style: outside none none;  margin: 0;
  padding: 12px 30px ;  position: relative;  width: 100%;}
.roadmap .listing-image,.roadmap .potatoExt,.roadmap .listing-time  { display: table-cell;  vertical-align: middle;}  
.roadmap .listing-time { direction: rtl;  float: none;  margin: 0;}
.roadmap .listing-time { direction: rtl;  margin: 0;}
.roadmap .listing-item h2 { margin: 0;}
.roadmap .listing.listing-first { padding: 14px 30px;}
  
.listing-image {  float: left;  margin: 0;}
.listing-image img { float: left;  margin: 0;}
.listing-item {  float: left;  margin: 0 0 0 25px;}
.listing-item h2 {  color:#770000;  font-family:"source_sans_proregular" !important; font-size:25px; margin: 0;  text-transform: uppercase;}
.listing-item p { color: #770000; font-family: "source_sans_proregular" !important; font-size: 25px;
 margin: 0; text-transform: lowercase;}
.listing-time { float: right;  margin: 23px 0 0; text-align: right;}
.listing-time p { color: #770000; font-family: "source_sans_proregular" !important; font-size: 25px;  margin: 0;}

.potatoExt { display: table-cell; vertical-align: middle;}




/**   Meat Cut  **/
.meatCutBox .listing-image img {  float: none;  margin: 0;}
.meatCutBox .listing-image { display: table-cell;  float: none;  vertical-align: middle;  width: 110px;}
.listing.meatCutBox > h2 { display: table-cell;  margin: 0 0 0 30px;  vertical-align: middle;}
.listing.meatCutBox { display: table; height: 120px;  padding: 0 30px;  vertical-align: middle; width: 100%; 
position:relative;}
.listing.meatCutBox:first-child::before {  background: #770000 url("../../img/horizontal.png") repeat scroll center bottom;
top: 0; content: "";  height: 4px;  left: 0;  position: absolute;  width: 100%; z-index: 100;
}
.listing.meatCutBox::after { background: #770000 url("../../img/horizontal.png") repeat scroll center bottom;
bottom: 0; content: "";  height: 4px;  left: 0;  position: absolute;  width: 100%; z-index: 100;}
.listing.meatCutBox h2,.listing.meatCutBox h2 a { color: #770000;  font-family: 'source_sans_prosemibold' !important;  font-size: 25px; 
text-transform:uppercase;}
section#overviewPage.meatCut { margin-top: 290px;  overflow: hidden;}
.grilLogo.iconTitle h1 { font-family: "source_sans_probold" !important; margin: 13px 0 0px;}
.listing.meatCutBox.active { background-color: #770000;}
.listing.meatCutBox.active h2{ color: #ffffcc;}

/**  grillables prep  **/
section#overviewPage.meatCut .container-inner { margin-top: 5px;}
.meatCut .about p { letter-spacing: -0.1px;}
.meatCut .about > ul li{ color: #770000; font-family: "source_sans_proregular" !important; font-size: 25px;letter-spacing: -0.1px; line-height: normal; margin: 0 0 27px; text-align: justify;  position: relative; list-style: none; }
.meatCut .about > ul { padding-left: 20px;}
.about li::before { background-color: #770000;  border-radius: 999px;  content: "";  height: 6px;  left: -20px;
  position: absolute;  top: 15px;  width: 6px;}
 ul, ol { list-style:  none;} 
.grill-inner {  position: relative;}
.grill-inner ul li { color: #770000; font-family: "source_sans_proregular" !important; font-size: 25px;letter-spacing: -0.1px; line-height: normal; position: relative; list-style: none; }
.grill { float: left;  margin: 40px 0 0;  width: 100%;}
.grill .col-md-5.col-sm-12.col-xs-5, .grill .col-md-7.col-sm-12.col-xs-7 { padding: 0;}
.heading {  color: #770000;  font-family: 'source_sans_probold' !important;  font-size: 35px;  margin: 0 0 24px; text-align: center;  text-transform: uppercase;}
.flameMiddlelogo { display: inline-block; margin-bottom: 22px; margin-top: 46px; text-align: center; width: 100%;}
.red-btn { background: rgba(0, 0, 0, 0) url("../../img/btn.png") no-repeat scroll center center / 100% 100%;
 color: #fff0cc; display: inline-block; font-family: "source_sans_probold" !important; font-size: 35px; margin: auto;
 max-width: 330px; min-width: 330px; padding:25px 0 26px; text-align: center; text-transform: uppercase;}
.button-grill { margin-top: 45px;  padding: 20px 0 30px;  position: relative;  text-align: center;}
.button-grill::after { background: #770000 url("../../img/horizontal.png") repeat scroll center bottom;
  top: 0;  content: "";  height: 4px;  left: 0;  position: absolute;  width: 100%;  z-index: 100;
}

/****/
.rib-para > h1 { color: #770000; font-family: 'source_sans_proregular' !important; float: left;  font-size: 35px;  margin: 0;
 text-align: center;  width: 100%;}
.rib-para {  display: inline-block;  margin-bottom: 48px;  text-align: center;  width: 100%;}  
.parameterText {  color: #770000;  font-size: 80px; line-height: 52px;  margin: 0 0 56px;
text-align: center; font-family: 'source_sans_prosemibold' !important;} 
.parameter-inner-left ul li { color:#770000; font-size:50px; line-height:50px; list-style-type:none; margin:0 0 33px;} 
.parameter-inner-left ul li span { font-size: 30px; line-height: 35px; font-family: 'source_sans_prosemibold';}
.padding0 { padding: 0;}
.parameter-inner-left-2 > ul { padding: 0;}
.parameter-inner-left-2 ul li {  color: #770000;  font-size: 30px; line-height: 30px; list-style-type: none;
  margin: 0 0 50px;  overflow-wrap: break-word;  text-align: right;  text-transform: uppercase;  width: 100%;
text-shadow: 3px 3px 1px #ffffcc;}
.parameter-inner-right-2, .parameter-inner-right { display: inline-block; position: relative; text-align: left;
  width: 100%;}
.parameter-inner-right .para{  position: absolute;  top: 110px;  left: -30px;}
.parameter-inner-right-2 .para-2 { position: absolute; left: -10px;  top: 96px;}
.parameter-2 .col-md-6.col-sm-6.col-xs-6 { padding-right: 0;}  
.parameter-inner-right-2 img:nth-child(1) { margin-left: 12px;}
 .button-grill.borderNone::after { background: transparent;} 
 .parameter-2 .parameter-inner-left-2 { margin-top: 34px;}
.helpIcon { max-width: 81px; min-width: 81px;  position: absolute;  right: 42px;  top: 30px;}  
.helpIcon img{ width:100%;}  


/**  grillables-timer  **/
section#overviewPage.grillables-timer { margin-top: 270px; padding-bottom: 30px; overflow: hidden;}
#overviewPage.grillables-timer .container-inner { margin-top: 6px;}
.midiumRareList > li { display: inline;  list-style: outside none none;  margin: 0 21px;}
.midiumRareList { padding: 0;  text-align: center;}
.midiumRareList > li:first-child { margin-left: 0;}
.midiumRareList > li:last-child { margin-right: 0;}
.midiumRareList li img { max-width: 104px; min-width: 104px;  width: 100%;}
.heading-2 { color:#770000;  font-family:source_sans_probold;  font-size:35px; text-align:center; line-height:40px;}
.grill-timer-inner p { color: #770000; font-family: 'source_sans_proregular'; font-size: 25px;  text-align: left;}
.circleTimeingInner { background-image: url("../img/circle-timer.png"); background-repeat: no-repeat;
 background-size: 100% auto;  height: 100%;  margin-bottom: 64px;  max-width: 540px;  min-height: 539px;  
 min-width: 540px; position: relative; text-align: center;}
.remove { display: inline-block;  margin-top: 112px;}
.start { margin-top: 20px;}
.time-remaining { color: #770000;  font-size: 30px;  margin-top: 10px; font-family: 'source_sans_proregular'; }
.time-15 { color: #770000;  font-size: 70px;  line-height: 56px;}
.circleTimeing { float: left;  margin-top: 24px;  position: relative;  width: 100%;}


/**  grillables-timer-running  **/
.circleTimeingInner.grillablesStop{  background-image: url("../img/circle-timer-running.png");}
.yellow-btn { background-image: url("../img/yellow-button.png"); background-repeat: no-repeat; color: #cc9933;
 font-family: "source_sans_probold"; font-size: 35px; margin: auto; padding: 14px 50px 20px; text-align: center;
 text-transform: uppercase;	background-size: 100% 100%;}
.stop { display: inline-block; margin-top: 103px;  width: 100%;}
.rotate { color: #770000; font-family: "source_sans_proregular"; font-size: 45px; line-height: 45px; margin-bottom: 33px;
 margin-top: 59px;  text-align: center;}

/**  grillables-timer-stop  **/
.circleTimeingInner.lightCircle{  background-image:url("../img/circle-timer-white.png");}
.flame-stoped > span {  color: #770000;  display: block; font-family: 'source_sans_prosemibold';  font-size: 30px;
  line-height: 35px;  margin: 6px auto 0;  text-align: center;  text-transform: uppercase;
}
.grill-timer-inner.text-center p { line-height: normal;  text-align: center;}
.flame-stoped { margin-top: 15px;}


/**  grillables-timer-Done **/
.circleTimeingInner.darrkCircle{ background-image: url("../../img/circle-timer-done.png");}
.done { color: #770000;  float: left;  font-size: 45px;  line-height: 55px;  margin: 80px 0 35px; text-align: center;
  width: 100%; font-family: "source_sans_probold";
}



.red-btn-tiny { background-image: url("../../img/red-btn-tiny.png"); background-repeat: no-repeat; background-size: 100% auto;  color: #fff0cc;  display: inline-block;  font-size: 35px;  font-family: "source_sans_probold"; margin: auto;  max-width: 275px;
  min-width: 275px;  padding: 25px 20px;  text-align: center;  text-transform: uppercase;}
.shareInviteBtn { text-align: center;  width: 100%; margin-bottom: 20px;}
.shareInviteBtn.grillablesDone * {  display: inline-block;}
.share-btn-left { margin-right: 30px;}
.listingDot > li {  display: inline;  margin: 0 8px;}
.listingDot { bottom: -55px; padding: 0; position: absolute; text-align: center; width: 100%;
z-index: 9999;
}

/**  fixed header  **/
section#contentBox { margin-top: 290px;}

header.getFixed::after { background: #770000 url("../../img/horizontal.png") repeat scroll center bottom;
  content: ""; height: 4px;  left: 0; position: absolute;  bottom: 0;  width:100%;  z-index: 100;
}


/**  special page  **/

.logo.specialPage { float:left;  margin-left:-7px;  margin-top:24px; text-align:center; width:100%;
}
.logo.specialPage  h1 { color:hsl(0, 100%, 23%); float: left; font-family:"source_sans_probold"; font-size: 35px;
 margin: 13px 0 0;  text-align: center;  text-transform: uppercase;  width: 100%;
}
.chili-inner * { display: inline-block;  margin: 0 15px;
}
.chili-inner { margin: 7px 0 37px; text-align: center;
}


/*Invitation page css start hare*/
.noPadLeft { padding-left: 0;}
.noPadRight { padding-right: 0;}
.invitation .grilLogo.invitationTitle { margin-top: 12px;}
.invitation .invitation-form form textarea::-moz-placeholder,.invitation .invitation-form form input::-moz-placeholder {opacity:1;}
.nopad {  padding: 0;}
.invitation .invitation-form form input,.invitation .invitation-form form textarea {
background-color: hsl(42, 100%, 94%); padding: 10px 16px; color:hsl(30, 100%, 20%);}
.invitation .grilLogo.iconTitle h1 {margin: 0;}
.invitation  section#contentBox {margin-top: 123px;}
.invitation  .listing-images ul { margin: 30px 0 24px;padding: 0;display: inline-block;}
.invitation  .listing-images ul li{display: inline-block;width: 15%;margin-right: 8px;}
.invitation  .listing-images ul li:last-child{margin: 0;}
.invitation .invitation-form form label,.invitation .invitation-form form input {display: block;width: 100%;}
.invitation .invitation-form form label { color: #663300; font-size: 25px; font-weight: normal;  
font-family: 'source_sans_prosemibold' !important; margin-bottom: 1px; margin-top: 1px;}
.invitation .invitation-form form input { border-bottom: 1px solid hsl(48, 100%, 93%);  border-right: 1px solid hsl(48, 100%, 93%);  box-shadow: 1px 1px 5px hsla(0, 0%, 0%, 0.2) inset;  min-height: 58px;  padding: 10px 16px;
}
.invitation-form form textarea {min-height: 165px;width: 100%;border-right: 1px solid #fff8dc; padding: 10px;box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.39); resize: none; border-bottom: 1px solid #fff8dc;}

.invitation .invitation-form form input::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
  color: #663300; font-size: 25px; font-weight: normal; font-family: 'source_sans_proregular' !important;
}
.invitation .invitation-form form input::-moz-placeholder{ /* Firefox 19+ */
 color: #663300; font-size: 25px; font-weight: normal; font-family: 'source_sans_proregular' !important;
}
.invitation .invitation-form form input:-ms-input-placeholder { /* IE 10+ */
  color: #663300; font-size: 25px; font-weight: normal; font-family: 'source_sans_proregular' !important;
} 
.invitation .invitation-form form input:-moz-placeholder { /* Firefox 18- */
  color: #663300; font-size: 25px; font-weight: normal; font-family: 'source_sans_proregular' !important;
}
.invitation .invitation-form form textarea::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
  color: #663300; font-size: 25px; font-weight: normal; font-family: 'source_sans_proregular' !important;
}
.invitation .invitation-form form textarea::-moz-placeholder{ /* Firefox 19+ */
 color: #663300; font-size: 25px; font-weight: normal; font-family: 'source_sans_proregular' !important;
}
.invitation .invitation-form form textarea:-ms-input-placeholder { /* IE 10+ */
  color: #663300; font-size: 25px; font-weight: normal; font-family: 'source_sans_proregular' !important;
}
.invitation .invitation-form form textarea:-moz-placeholder { /* Firefox 18- */
  color: #663300; font-size: 25px; font-weight: normal; font-family: 'source_sans_proregular' !important;
}


.rsMenu.Show::before {
  background-image: url("../img/back.png");
  content: "";
  height: 63px;
  left: -6px;
  position: absolute;
  top: -4px;
  width: 40px;
  z-index: 999;
}
.rsMenu.Show > img {  visibility: hidden;
}