@charset "utf-8";
/* CSS Document */

@media(max-width:639px){
.navigationOuter.Show { max-width: 78%;
}
.navSearch h2 {  margin: 0 0 0 10px; font-size: 20px;
}
.navigation ul li { height: 110px;
}



}

@media(max-width:600px){
	
.menuLink > img { width: 170px;
}
.left-col-home h2 { font-size: 18px; line-height:22px;
}	
.left-col-home { margin: 0 0 27px;
}
.logo img { max-width: 208px;  width: 100%;
}
.rsMenu > img {  width: 43px;
}
.logo {  margin-top: 40px; margin-left:-7px;}
.rsMenu { right: 33px;  top: 25px;}
#homePage .container-inner {  margin-top: 50px;}

/** about **/

.about {  padding: 0 24px;
}
.about h1 {  font-size: 26px;  margin: 40px 0 23px;
}
.about p {  font-size: 19px;;
}
.backtn > img { width: 30px;
}
.backtn { left: 20px; top: 23px;
}

/** menu **/

.navigation img { max-width: 68px;
}
.navigation li { padding: 10px 19px 16px;
}
.navigation ul li { height: 90px;
}
.navSearch h2 { font-size: 18px;
}
.listing-form {  padding: 20px;
}
.form-group {  margin-bottom: 3px;
}
.listing-form input { font-size: 15px;  height: 45px;  padding: 14px;
}
.splash img {  display: inline;  max-width: 180px;  padding: 40px 0;  width: 100%;
}

/** search **/

.searchListing .search-cancel img { width: 36px; top:34px;
}
.searchListing input { background-size:100% 55px;  font-size: 19px;  height: 55px;
}
a.splashLogo { margin-left: -100px;
}
.navigation ul li.active .hoverPic ,.navigation .hoverPic{  height: 63px;  max-width: 59px; margin-right: 4px;
}

/**  road map  **/	

.flameLogo > img {  max-width: 70px;  width: 100%;
}
.activeTimaer h1 { font-size: 26px;
}
.listing {  padding: 15px 20px;
}
.listing-image img { height: auto;  width: 75px;
}
.potatoExt .listing-item {  margin: 0;  padding: 0 15px;
}
.listing-item h2 {  font-size: 19px;  margin: 15px 0 0;
}
.listing-item p { font-size: 18px;
}
.listing-time p { font-size: 18px;	
}
.listing-time {  margin: 14px 0 0;
}
.activeTimaer h1 { margin: 0 0 30px;
}
.container-inner {  max-width: 450px;
}

/**  gril table  **/

.menuLink > img { max-width: 220px;  width: 100%;
}


}

@media(max-width:500px){
.container-inner { position: relative; max-width:430px; width:100%; margin:0 auto;
}
.navigationOuter.Show { max-width: 81%;
}
.rsMenu.Show { left: 17px;
}
.navigation img { max-width: 50px;
}
.navSearch h2 {  font-size: 15px;  margin-left: 10px;
}

/** search **/

.searchListing li img { width: 75px;
}
.searchListing h2 {  font-size: 19px;  margin: 28px 0 0 18px;
}
.navigation ul li.active .hoverPic ,.navigation .hoverPic{  height: 43px;  max-width: 36px; margin-right: 4px;
}


/**  road map  **/	

.flameLogo > img {  max-width: 70px;  width: 100%;
}
.activeTimaer h1 { font-size: 18px;
}
.listing {  padding: 15px 20px;
}
.listing-image img { height: auto;  width: 50px;
}
.potatoExt .listing-item {  margin: 0;  padding: 0 15px;
}
.listing-item h2 {  font-size: 15px;  margin: 5px 0 0;
}
.listing-item p { font-size: 14px;
}
.listing-time p { font-size: 14px;	
}
.listing-time {  margin: 4px 0 0;
}
.flameLogo {  margin-bottom: 12px;
}
.activeTimaer h1 {  margin: 0 0 20px;
}
.roadmapInner {  margin-top:24px;
}




}
@media(max-width:400px){
	
/** front view **/	

a.splashLogo { margin-left: -90px; margin-top: -155px;
}
	
.logo { margin-top:25px;
}	
.menuLink > img { width: 100%;
}	
.left-col-home h2 { font-size: 13px; line-height:14px; letter-spacing:0px;
}
.left-col-home { margin: 0 0 18px;
}
.logo img {  max-width: 140px;
}
.rsMenu > img { width: 30px;
}
#homePage .container-inner { margin-top: 33px;
}
.container-inner {  max-width: 310px;
}

/** about **/

.about { padding: 0;
}
.about h1 {  font-size: 18px;  margin: 25px 0 14px;
}
.about p {  font-size: 14px;  margin-bottom: 10px;
}
.backtn > img { width: 20px;
}

/** menu **/
.navigationOuter.Show { max-width: 78%;
}
.navigation img {  max-width: 44px;
}
.navSearch h2 { font-size: 14px;  margin: 0 0 0 6px;
}
.navigation li {  padding: 10px 10px 16px;
}
.rsMenu.Show { left: 20px;
}
.navigation ul li { height: 70px;
}
.listing-form {  padding: 16px;
}
.form-group {  margin-bottom: 3px;
}
.listing-form input {  font-size: 14px;  height: 37px;  padding: 10px;
}


/**  search  **/

.searchListing .search-cancel img {  top: 20px; width: 25px; margin: 0 16px 0 0;
}
.rsMenu { right: 22px;  top: 17px;
}
.searchListing li img { width: 50px;
}
.searchListing h2 {  font-size: 14px;  margin: 10px 0 0 14px;
}
.searchListing ul li a { padding: 8px 20px 13px 15px;
}
.searchListing input {  background-size: 100% 35px;  font-size: 14px;  height: 35px;
}
.searchListing .search-cancel {  padding: 15px 0 19px 15px;
}
.searchListing input { max-width: 80%;
}



}


@media(max-width:330px){
}