@charset "utf-8";
/* CSS Document */

@media screen and (max-width:640px){ 


#homePage .container-inner,#overviewPage .container-inner {margin-top:37px; width:380px;}
#homePage .container-inner .col-xs-6, .col-sm-6, .col-md-6  {padding-left:10px;padding-right:10px; }
.menuLink img { max-width:173px; width:100%;}
.left-col-home h2 { font-size:20px; line-height:normal; }
.rsMenu { right:21px; top:22px;}
.rsMenu img { width:44px; height:43px;}
.logo { margin-top:30px ; margin-left:-7px;}
.logo img { max-width:179px;}
.left-col-home { margin-bottom:18px; }
.left-col-home h2 { margin-top:6px;}
.navSearch h2 { font-size:20px; margin-left:16px;}
.navigation ul li .hoverPic, .navigation .hoverPic { max-width:50px; width:50px; width:100%; height:46px;}
.navigation img { max-width:50px; width:100%; width:49px;}
.navigation ul li {padding:8px 13px 11px; height:96px;}
.navigationOuter.Show { max-width:87%;}
.rsMenu.Show {  left: 25px; }


/** serach **/
.navSearch .form-group {  margin-bottom: 0;  padding: 19px 17px;}
.navSearch .form-group input {  height: 56px;  padding: 10px; font-size:19px;}
.searchListing .form-group input { width: 75%;}
.searchListing ul li a { padding: 0px 40px 14px 30px;}
.searchListing h2 { font-size: 26px;}

/** about **/

.about {  padding: 0 24px;}
.about h1 {  font-size: 26px;  margin: 40px 0 23px;}
.about p {  font-size: 19px;}
.backtn > img { width: 30px;}
.backtn { left: 17px; top: 20px;}
.grilLogo h1 { margin: 23px 0 10px;}
section#overviewPage { margin-top: 270px;
}

/**  roadMap  **/
.logo.mapLogo { margin-top: 30px; }
.logo.mapLogo img { max-width: 120px;}
.roadmapInner { margin-top: 0;}
.listing .listing-image img {  width: 77px;}
.potatoExt .listing-item p { font-size: 19px;}
.potatoExt .listing-item h2 { font-size: 20px;  margin: 0;}
.logo.mapLogo h1 { font-size: 26px;  margin: 20px 0 16px;}
.roadmapInner .listing-time p { font-size: 20px; line-height: 22px;}
.listing-time { margin: 17px 0 0;}
section#overviewPage.roadMapSection { margin-top: 250px;}
.roadmapInner .listing { height: 102px;}

/**  meatCut  **/
.listing.meatCutBox h2,.listing.meatCutBox h2 a { font-size: 20px;}
.listing.meatCutBox { height: 95px;}


/**  grillables-prep  **/
#overviewPage.meatCut .container-inner { padding: 0 25px;  width: 100%;}
.meatCut .about > ul li { font-size: 19px;  margin: 0 0 18px;}
.about li::before { left: -18px; top: 10px;}
.grill-inner > img { max-width: 156px;  width: 100%;}
.grill-inner ul li {  font-size: 19px;}
.heading { margin: 0 0 16px;}

/**  grillables-set-parameter  **/
.rib-para > h1 { font-size: 28px;}
.parameterText { font-size: 63px; line-height: 63px; margin: 0 0 30px;}
.parameter-inner-left ul li span {  font-family: "source_sans_prosemibold" !important;  font-size: 23px;  line-height: 24px;}
.parameter-inner-left ul li { font-family: "source_sans_prosemibold" !important; font-size: 40px;line-height: 30px;}
.parameter-inner-left-2 ul li { font-size: 24px;  line-height: 26px;  margin: 0 0 37px;}
.parameter-inner-right .para { max-width: 101px;  min-width: 101px; top: 88px;}
.parameter-inner-right-2 .para-2 { max-width: 101px; min-width: 101px; top: 88px;}
.parameter-inner-right > img:nth-child(1) { height: 310px;}
.parameter-inner-right-2 img:nth-child(1) { height: 400px;}
.red-btn {  font-size: 28px; max-width: 255px; min-width: 255px;  padding:12px 0 14px;}
.helpIcon {  max-width: 61px;  min-width: 61px;  right: 33px;  top: 24px;}

/**  grillables-timer  **/
#overviewPage.grillables-timer .container-inner { margin: 6px auto 0;  padding: 0 40px;  width: 100%;}
.midiumRareList li img { max-width: 76px;  min-width: 76px;  width: 100%;}
.midiumRareList > li { margin: 0 16px;}
.circleTimeingInner {margin: 0 auto; max-width: 420px; min-height: 420px; min-width: 420px;  text-align: center;}
.circleTimeing {  margin-top: 13px;}
.remove { margin-top: 90px;}
.start { margin-top: 16px;}
.time-remaining { font-size: 23px;}
.time-15 { font-size: 55px; line-height: 46px;}
.grill-timer-inner { display: inline-block;  margin-top: 50px;  width: 100%;}
.heading-2 { font-size: 28px;}
.grill-timer-inner p { font-size: 19px;}
.grilLogo.piece img { width: auto;}

/**  grillables-timer-running  **/
.stop { margin-top: 82px;}
.yellow-btn { font-size: 28px;}
.rotate { font-size: 36px; line-height: 36px; margin-bottom: 26px; margin-top: 50px;}

/**  grillables-timer-stop  **/
.flame-stoped > span { font-size: 24px; line-height: 24px;}
.flame-stoped > img { max-width: 60px;  min-width: 60px;}

/**  grillables-timer-Done  **/
.done {  font-size: 36px; line-height: 44px; margin: 70px 0 27px;}
.red-btn-tiny { font-size: 27px;  max-width: 216px;  min-width: 216px;  padding: 20px;}
.shareInviteBtn { margin-top: 58px;}

/** reposive back menu **/
.rsMenu.Show::before { background-repeat:no-repeat; background-size:100% auto; height:53px; left:-8px; top:-2px; width:30px;
}
.listingDot { bottom: -50px;
}

/**  special page  **/
section#contentBox { margin-top: 230px;}
.logo.specialPage h1 { font-size: 28px;}
.chili-inner img { width: 70px;}
.chili-inner { margin: 7px 0;}

/**  invitation  **/
.navigation li::after, .listing-form::before { width: 99.1%;
}
.invitationTitle h1 { font-size: 28px;
}
.invitation .grilLogo.invitationTitle { margin-top: 7px;
}
.nopad { padding: 0 15px;
}
.invitation .listing-images ul li { margin-right: 6px; width: 15%;
}
.button-grill { padding: 20px 0 15px;
}
.noPadLeft, .noPadRight {  padding: 0 15px;
}
.invitation-content { padding: 0 15px;
}
.invitation .invitation-form form input { min-height: inherit; padding: 10px 16px 13px;
}
.invitation-form form input::-webkit-input-placeholder, .invitation-form form textarea::-webkit-input-placeholder { color: transparent; font-size:17px !important;}
.invitation .invitation-form form textarea::-moz-placeholder,.invitation .invitation-form form input::-moz-placeholder {font-size: 17px;  font-weight: normal; line-height: 22px;}
.invitation .invitation-form form label {  font-size: 17px;  margin-top: 8px;
}




}


@media(max-width:500px){ 


#homePage .container-inner ,#overviewPage .container-inner{margin-top:40px; max-width:335px; width:100%; }
#homePage .container-inner .col-xs-6, .col-sm-6, .col-md-6  {padding-left:10px;padding-right:10px; }
.left-col-home h2 { font-size:16px; line-height:normal; }
.rsMenu { right: 22px;  top: 22px;}
.rsMenu img { width:35px; height:35px;}
.logo { margin-top:30px ; margin-left:-7px;}
.logo img { max-width:146px;}
.left-col-home { margin-bottom:18px; }
.left-col-home h2 { margin-top:6px;}
.navSearch h2 { font-size:14px; margin-left:10px;}
.navigation ul li .hoverPic, .navigation .hoverPic { max-width:50px; width:50px; width:100%;}
.navigation img { max-width:50px; width:100%; width:50px;}
.navigation ul li {padding:8px 13px 11px; height:68px;}
.navigationOuter.Show { max-width:86%;}
.rsMenu.Show {  left: 22px;}
.navigation ul li.active .hoverPic { height: auto; max-width: 46px;}

/** serach **/
.navSearch .form-group {  margin-bottom: 0;  padding:14px 14px 16px;}
.navSearch .form-group input {  height: 40px;  padding: 10px; font-size:14px;}
.searchListing input { height: 40px;}
.searchListing h2 { line-height: inherit; margin: 22px 0 0 25px;  position: relative; top: 6px;}
.searchListing .search-cancel {  padding: 13px 0 17px 16px;}
.searchListing h2 {  font-size: 20px;  margin: 10px 0 0 14px;}
.searchListing .form-group input { max-width: 100%;  width: 78%;}
.searchListing .search-cancel img { margin: 0 20px 0 0;  right: 3px;  top: 22px; width: 25px;}
.searchListing ul li { min-height: 66px;}
.searchListing ul li a { padding:10px 16px 16px;}
.searchListing li img { width: 70px;}
.searchBox input { font-size: 20px;}

/**  overview grillables  **/
.about h1 {  font-size: 23px;  margin: 40px 0 23px;}
.grilLogo h1{  font-size: 23px;  margin: 20px 0 0px;}
.grilLogo img { width: 147px;}
.grilLogo1 img { width:89px;}
.grilLogo { margin-top: 40px;}

/** about **/
.backtn > img { width: 24px;}
section#aboutPage, section#homePage {  margin-top: 97px;}
section#contentBox {  margin-top: 190px;}
header {  padding-bottom: 5px;}
section#overviewPage {  margin-top:190px;}


/**  roadMap  **/
.logo.mapLogo { margin-top: 30px; }
.logo.mapLogo img { max-width: 75px;}
.roadmapInner { margin-top: 0;}
.roadmap .listing-image {  float: none;  margin: 0;}
.listing .listing-image img {  height: 50px;  width: 62px;}
.potatoExt .listing-item p { font-size: 19px;}
.potatoExt .listing-item h2 { font-size: 19px; line-height: 16px; margin:0;}
.logo.mapLogo h1 { font-size: 26px;  margin: 20px 0 16px;}
.roadmapInner .listing-time p { font-size: 19px; line-height: 20px;}
.listing-time { margin: 17px 0 0;}
section#overviewPage.roadMapSection { margin-top: 190px;}
.roadmapInner .listing { padding: 7px 15px; }
.roadmapInner .listing-time { margin: 12px 0 0;}
.roadmap .listing.listing-first { padding: 13px 15px;}
.roadmapInner .listing { height: 80px;}
.roadmapInner .listing-item { float: left;}
.potatoExt .listing-item h2 { font-size: 15px;}
.roadmap .listing-image {  float: none;  margin: 0;  width: 60px;}

/**  meatCut  **/
.listing.meatCutBox h2,.listing.meatCutBox h2 a { font-size: 20px;}
.listing.meatCutBox { height: 75px; padding: 0 15px;}	
section#overviewPage.meatCut { margin-top: 220px;}
.listing.meatCutBox h2 { font-size: 16px;}
.meatCutBox .listing-image { width: 80px;}

/**  grillables-prep  **/
#overviewPage.meatCut .container-inner { padding: 0;  width: 100%;}
#overviewPage.meatCut .about { padding: 0 4px;}
#overviewPage.meatCut .container-inner { max-width: 100%;  padding: 0 37px;  width: 100%;}
.meatCut .about > ul li { font-size: 19px;  margin: 0 0 18px;}
.about li::before { left: -18px; top: 10px;}
.grill-inner > img { max-width: 156px;  width: 100%;}
.grill-inner ul li {  font-size: 19px;}
.heading { margin: 0 0 16px;}
.meatCut .about p  { margin: 0 0 13px;}
.grill {  margin: 24px 0 0;}
.heading ,.red-btn {  font-size: 22px;}
.button-grill { margin-top: 35px;  padding: 14px 0 10px; }

/**  grillables-set-parameter  **/
.rib-para > h1 { font-size: 22px;}
.parameterText { font-size: 50px; line-height: 37px; margin: 0 0 30px;}
.rib-para { margin-bottom: 28px;}
.parameter-inner-left ul li span {  font-family: "source_sans_prosemibold" !important;  font-size: 18px;  line-height: 19px;}
.parameter-inner-left ul li { font-family: "source_sans_prosemibold" !important; font-size: 31px;line-height: 30px;}
.parameter-inner-left-2 ul li { font-size: 17.5px;  line-height: 20px;  margin: 0 0 30px;}
.parameter-inner-right .para { max-width: 79px;  min-width: 79px;  left: -20px;  top: 68px;}
.parameter-inner-right-2 .para-2 { max-width: 79px;  min-width: 79px;  left: -7px;  top: 60px;}
.parameter-inner-right > img:nth-child(1) { height: 245px;}
.parameter-inner-right-2 img:nth-child(1) { height: 320px;}
.red-btn {  font-size: 22px; max-width: 208px; min-width: 208px;  padding:12px 0 14px;}
.helpIcon { max-width: 49px;  min-width: 49px;  right: 26px;  top: 21px;}
.parameter-inner-left > ul { padding-left: 17px;}
.parameter-inner-left ul li { margin: 0 0 21px;}
.parameter-2 .parameter-inner-left-2 { margin-top: 20px;}
.parameterText > span { font-size: 38px;}


/**  grillables-timer  **/
#overviewPage.grillables-timer .container-inner { margin: 6px auto 0;  padding: 0 14px;  width: 100%;}
.midiumRareList li img { max-width: 63px;  min-width: 63px;  width: 100%;}
.midiumRareList > li { margin: 0 8px;}
.circleTimeingInner {margin: 0 auto; max-width: 338px; min-height: 338px; min-width: 338px;  text-align: center;}
.circleTimeing {  margin-top: 8px;}
.remove { margin-top: 71px;}
.start { margin-top: 14px;}
.time-remaining { font-size: 18px;}
.time-15 { font-size: 43px; line-height: 40px;}
.grill-timer-inner { display: inline-block;  margin-top: 32px;  width: 100%;}
.grill-timer-inner p { font-size: 16px;}
.heading-2 { font-size: 22px; line-height: 25px;}
.grilLogo.piece img { width: auto;}



/**  grillables-timer-running  **/
.stop { margin-top: 65px;}
.yellow-btn { font-size: 22px; padding: 10px 44px 18px;}
.rotate { font-size: 29px; line-height: 29px; margin-bottom: 20px; margin-top: 43px;}
section#overviewPage.grillables-timer { margin-top: 225px;}

/**  grillables-timer-stop  **/
.flame-stoped > span { font-size: 19px;  line-height: 19px;}
.flame-stoped > img { max-width: 47px;  min-width: 47px;}
.flame-stoped { margin-top: 10px;}


/**  grillables-timer-Done  **/
.red-btn-tiny { font-size: 22px;  max-width: 177px;  min-width: 177px;  padding: 16px 10px;}
.done { font-size: 28px;  line-height: 34px;  margin: 52px 0 19px;}
.shareInviteBtn { margin-top: 44px;}
.share-btn-left { margin-right: 12px;}
header.getFixed::after { height: 3px;}
.grilLogo.piece img {  max-width: 82px;}

/** reposive back menu **/
.rsMenu.Show::before {  left: -5px; top: -2px; width: 24px;
}

.listingDot img { width: 16px;
}
.listingDot { bottom: -42px;
}
.listingDot > li { margin: 0 5px;
}
.grill-timer-inner { padding: 10px 14px;
}

/**  special page  **/
.logo.specialPage h1 { font-size: 20px;}
.chili-inner img { width: 60px;	}
.grilLogo.invitationTitle h1 {  margin-bottom: 12px;}
.invitation .listing-images ul li { margin-right: 9px;  width: 14%;}
.invitation .invitation-form form input::-moz-placeholder ,.invitation .invitation-form form textarea::-moz-placeholder{  font-size: 18px;}
.invitation .invitation-form form label { font-size: 18px; margin-top: 10px;}
.invitation .invitation-form form input { min-height: 46px;
}
.invitation-content { padding: 0 15px;}
.noPadLeft, .noPadRight  {  padding: 0 15px;
}
.invitation .invitation-form form input { min-height: inherit; padding: 10px 16px 9px;
}
.invitation-form form input::-webkit-input-placeholder, .invitation-form form textarea::-webkit-input-placeholder { color: transparent; font-size:15px !important;}
.invitation .invitation-form form textarea::-moz-placeholder,.invitation .invitation-form form input::-moz-placeholder {font-size: 15px;  font-weight: normal; line-height: 18px;}




}

@media(max-width:400px){
#homePage .container-inner ,#overviewPage .container-inner{ max-width:325px; width:100%; }
.container-inner { width:100%; max-width:325px; }
#homePage .container-inner {margin-top:37px; }
#homePage .container-inner .col-xs-6, .col-sm-6, .col-md-6  {padding-left:10px;padding-right:10px; }
.menuLink img { width:100%;}
.left-col-home h2 { font-size:14px; line-height:normal; }
.rsMenu { right:19px; top:20px;}
.rsMenu img { width:32px; height:31px;}
.logo { margin-top:30px ; margin-left:-4px;}
.logo img { max-width:128px;}
.left-col-home { margin-bottom:18px; }
.left-col-home h2 { margin-top:6px;}
.navSearch h2 { font-size:14px; margin-left:10px;}
.navigation ul li .hoverPic, .navigation .hoverPic { max-width:50px; width:50px; width:100%;}
.navigation img { max-width:42px; width:100%;}
.navigation ul li {padding:8px 13px 11px; height:69px;float:left; }
.navigationOuter.Show { max-width:84%;}
.rsMenu.Show { left:20px;}
.navigation li::after, .listing-form::before,.searchListing ul li::after,.roadmapInner::after ,.roadmapInner .listing::after{ height: 2px;}
.navigation li::before, .listing-form::after { width: 2px;}
.navigation ul li.active .hoverPic { height: auto; max-width: 43px;}
.navigation li::after, .listing-form::before{ left: 2px; width: 99.4%;}

/** serach **/
.navSearch .form-group {  margin-bottom: 0;  padding:14px 14px 16px;}
.navSearch .form-group input {  height: 40px;  padding: 10px; font-size:14px;}
.searchListing input { height: 40px;}
.searchListing h2 { line-height: inherit; margin: 22px 0 0 25px;  position: relative; top: 2px;}
.searchListing .search-cancel {  padding:14px 0 16px 16px;}
.searchListing h2 {  font-size: 14px;  margin: 10px 0 0 14px;}
.searchListing .form-group input { max-width: 100%;  width: 78%;}
.searchListing .search-cancel img { margin: 0 20px 0 0;  right: 3px;  top: 22px; width: 25px;}
.searchListing ul li { min-height: 66px;}
.searchListing ul li a { padding:5px 16px 8px;}
.searchListing li img ,.listing-image > img{ width: 56px; height:auto;}

/** about **/
.about { padding: 0;}
.about p { font-size: 15px;  letter-spacing: 0;  line-height: normal;  margin-bottom: 10px;}
.backtn > img { width: 19px;}

/**  overview grillables  **/
.grilLogo img { width: 96px;}
.grilLogo1 img { width: 60px;}
.grilLogo { margin-top: 30px;}
.about h1{  font-size: 17px;  margin: 36px 0 14px;}
.searchListing .form-group input { font-size: 14px; padding: 10px;}
.grilLogo h1 { font-size: 18px;  margin: 9px 0 0;}

/** fixed header **/
header {  padding-bottom: 10px;}
section#aboutPage, section#homePage { margin-top: 73px;}
section#contentBox { margin-top: 160px; padding-bottom: 80px;}
section#overviewPage { margin-top: 136px;}

/**  roadMap  **/
.logo.mapLogo { margin-top: 25px; }
.logo.mapLogo img { max-width: 60px;} 
.roadmapInner { margin-top: 0;}
.listing .listing-image img {  height: 50px;  width: 50px;}
.potatoExt .listing-item p { font-size: 14px;}
.logo.mapLogo h1 { font-size: 20px;  margin: 13px 0 16px;}
.listing-time p { font-size: 14px; line-height: 20px; text-align:right;}
section#overviewPage.roadMapSection { margin-top: 153px;}
.listing { padding: 7px 15px 6px; }
.listing-time { margin: 16px 0 0;}
.listing-item { margin: 0 0 0 10px;}
.listing { height: 69px;}
.listing.listing-first { padding: 13px 15px;}




/**  meatCut  **/
section#overviewPage.meatCut { margin-top: 220px;}
.listing.meatCutBox h2 { font-size: 16px;}
.meatCutBox .listing-image { width: 62px;}
.listing.meatCutBox h2,.listing.meatCutBox h2 a {  font-size: 14px;}
.listing.meatCutBox { height: 69px;}
.listing.meatCutBox:first-child::before,.listing.meatCutBox::after { height: 2px;}
section#overviewPage.meatCut { margin-top: 153px;}
.listing.meatCutBox:first-child { height: 71px;}
.grilLogo.iconTitle > a { display: inline-block;  height: 66px;}

/**  grillables-prep  **/
section#overviewPage.meatCut .container-inner { margin-top: 0;}
#overviewPage.meatCut .container-inner { padding: 0;  width: 100%;}
#overviewPage.meatCut .about { padding: 0 14px;}
#overviewPage.meatCut .container-inner { max-width: 100%;  padding: 0 32px;  width: 100%;}
.meatCut .about > ul li { font-size: 15px;  margin: 0 0 18px;}
.about li::before { left: -13px;  top: 7px;}
.grill-inner > img { max-width: 100px;  width: 100%;}
.heading { margin: 0 0 10px;}
.meatCut .about p  { margin: 0 0 13px;}
.grill {  margin: 24px 0 0;}
.heading ,.red-btn {  font-size: 20px;}
.button-grill { margin-top: 35px;  padding: 12px 0 10px; }
.grill-inner > ul { padding-left: 14px;}
.grill-inner ul li { font-size: 15px;}
.button-grill::after { height: 3px;}
.flameMiddlelogo { margin-top: 26px;}
.flameMiddlelogo > img {  width: 48px;}
.grilLogo.iconTitle h1 {  margin: 10px 0 0;}
.flameMiddlelogo {  margin-bottom: 10px;  margin-top: 20px;}


/**  grillables-set-parameter  **/

.rib-para > h1 {  font-size: 18px;}
.parameterText { font-size: 45px; line-height: 34px;  margin: 0 0 18px;}
.rib-para { margin-bottom: 21px;}
.rib-para-new .col-md-6.col-sm-6.col-xs-6.padding0 { padding: 0;}
.parameter-inner-left > ul { padding-left: 26px;}
.red-btn {  font-size: 22px;  max-width: 189px;  min-width: 189px;  padding:12px 0 14px ;}
.helpIcon { max-width: 46px;  min-width: 46px;  right: 21px;  top: 16px;} 
.parameterText > span { font-size: 27px;}
 .parameter-inner-right .para { max-width: 76px;  min-width: 76px;  left:-20px;  top: 68px;}
.parameter-inner-right-2 .para-2 { max-width: 76px;  min-width: 76px; left: -8px;  top: 60px;}
.button-grill { margin-top: 12px;}
.parameter-inner-right-2 img:nth-child(1) { height: 309px;}

/**  grillables-timer  **/
section#overviewPage.grillables-timer { margin-top: 200px;}
.grilLogo.piece img { width: auto;}
.midiumRareList li img { max-width:56px;  min-width: 56px;  width: 100%;}
.circleTimeingInner { margin: 0 auto; max-width: 290px;  min-height: 290px;  min-width: 290px;  text-align: center;}
.red-btn { font-size: 20px; max-width: 165px; min-width: 165px; padding: ;}
.remove { margin-top: 62px;}
.start { margin-top: 10px;}
.time-remaining { font-size: 17px;}
.time-15 {font-size: 38px;  line-height: 32px;}
.heading-2 { font-size: 20px;  line-height: 25px;}
.grill-timer-inner p { font-size: 15px;}
.grill-timer-inner { padding: 0 15px;}
.grilLogo.piece img { width: auto; max-width: 82px}


/**  grillables-timer-running  **/
.stop { margin-top: 60px;}
.yellow-btn { font-size: 20px; padding: 10px 40px 14px;}
.rotate { font-size: 26px; line-height: 26px; margin-bottom: 14px; margin-top: 30px;}

/**  grillables-timer-stop  **/
.flame-stoped > span { font-size: 17px;  line-height: 17px;}
.flame-stoped > img { max-width: 43px;  min-width: 43px;}
.flame-stoped { margin-top: 10px;}

/**  grillables-timer-Done  **/
.red-btn-tiny { font-size: 22px; max-width: 140px; min-width: 140px; padding: 10px;}
.done { font-size: 26px; line-height: 28px; margin: 44px 0 18px;}
.shareInviteBtn { margin-top: 40px;}
.share-btn-left { margin-right: 12px;}
.circleTimeingInner.darrkCircle { margin-top: -10px;}

/** reposive back menu **/
.rsMenu.Show::before { left: -3px;  top: 0;  width: 19px;}

/** button fixed **/
.button-grill{ background-image: url("../img/bg.jpg"); bottom: 0; position: fixed; width: 100%;
}

/**  special page  **/
.listingDot img { width: 12px;}
.listingDot { bottom: -38px;}
.grillableHeaqder .grilLogo.piece img { width: 50px;}
section#contentBox.grillableSection { margin-top: 124px;}
.grillableHeaqder .grilLogo { margin-top: 20px;}
section#contentBox.grillableSection { padding-bottom: 0;}

/**  invitation  **/
.invitation-content { margin-top: -33px;}
.invitation .invitation-form form input { min-height: inherit;
}
.invitation .invitation-form form label { font-size: 14px;  margin: 10px 0 0;}
.invitation .invitation-form form textarea::-moz-placeholder,.invitation .invitation-form form input::-moz-placeholder {font-size: 14px;  font-weight: normal; line-height: 16px;}
.invitation .grilLogo.invitationTitle { margin-top: 18px;}
.invitation .listing-images ul li { margin-right: 7px;  width: 14%;}
.nopad { padding: 0;}
.invitation-content { padding: 0;} 
.nopad  {  padding: 0 ;}
.button-grill.sendInvitation.getFixed,.button-grill.sendInvitation { position: relative;}
.invitation-form form textarea { min-height: 125px;}
.invitation .invitation-form form input,.invitation .invitation-form form textarea { padding: 10px 8px;
font-size:13px ;
}
.noPadRight {  padding-right: 0;}
.noPadLeft {  padding-left:0;}
.invitation-form form input::-webkit-input-placeholder, .invitation-form form textarea::-webkit-input-placeholder { color: transparent; font-size:14px !important; line-height:16px;
}


}

@media(max-width:330px){ 
#homePage .container-inner ,#overviewPage .container-inner{ max-width:272px; width:100%; }
.container-inner { width:272px !important; }
#homePage .container-inner {margin-top:34px; }
#homePage .container-inner .col-xs-6, .col-sm-6, .col-md-6  {padding-left:10px;padding-right:10px; }
.menuLink img { max-width:113px; width:100%;}
.left-col-home h2 { font-size:13px; line-height:normal; }
.rsMenu { right:19px; top:20px;}
.rsMenu img { width:29px; height:27px;}
.logo { margin-top:30px ; margin-left:-4px;}
.logo img { max-width:113px;}
.left-col-home { margin-bottom:18px; }
.left-col-home h2 { margin-top:6px;}
.navSearch h2 { font-size:13px; margin-left:10px;}
.navigation ul li .hoverPic, .navigation .hoverPic { max-width:40px; width:40px; width:100%;}
.navigation img { max-width:42px; width:100%;}
.navigation ul li {padding:8px 13px 11px; height:68px; float:left;}
.navigationOuter.Show { max-width:82.5%;}
.rsMenu.Show { left:18px;}

/** serach **/
.navSearch .form-group {  margin-bottom: 0;  padding:8px 10px 14px 14px;}
.navSearch .form-group input {  height: 40px;  padding: 10px; font-size:13px;}
.searchListing input { height: 40px;}
.searchListing h2 { line-height: inherit; margin: 22px 0 0 25px;  position: relative; top: 1px;}
.searchListing .search-cancel {  padding:8px 0 14px 16px;}
.searchListing h2 {  font-size: 14px;  margin: 10px 0 0 14px;}
.searchListing .form-group input { max-width: 100%;  width: 78%;}
.searchListing .search-cancel img { margin: 0 20px 0 0;  right: 3px;  top: 22px; width: 25px;}
.searchListing ul li { min-height: 66px;}
.searchListing ul li a { padding:5px 16px 7px;}
.searchListing li img ,.listing-image > img{ width: 56px; height:auto;}

/**  roadMap  **/
.logo.mapLogo img { max-width: 60px;}

/** about **/
.about { padding: 0;}
.about p { font-size: 15px;  letter-spacing: 0;  line-height: normal;  margin-bottom: 10px;}
.backtn > img { width: 17px;}

/**  meatCut  **/
.grilLogo.iconTitle > a { display: inline-block;  height: 66px;}


/**  grillables-prep  **/
#overviewPage.meatCut .container-inner {  padding: 0 2px;}
.grill {  margin: 14px 0 0;}
.heading, .red-btn { font-size: 17px;}
.flameMiddlelogo { margin-top: 26px;}
.button-grill { margin-top: 25px; padding: 10px 0 8px;}
.grill-inner > img {  max-width: 90px;  width: 100%;}
.grill-inner ul li {  font-size: 15px;}

/**  grillables-set-parameter  **/
.parameterText { font-size: 36px; line-height: 26px;}
.rib-para { margin-bottom: 18px;}
.parameterText > span { font-size: 24px;}
.parameter-inner-left ul li { font-family: "source_sans_prosemibold" !important; font-size: 25px; line-height: 26px;}
.parameter-inner-left ul li span { font-size: 14px;  line-height: 16px;}
.parameter-inner-left-2 ul li { font-size: 14px;  line-height: 15px;  margin: 0 0 15px;}
.parameter-inner-right .para { left: -11px; max-width: 44px; min-width: 44px;  top: 24px;}
.parameter-inner-right-2 .para-2 { left: 0; max-width: 44px; min-width: 44px; top: 42px;}
.parameter-inner-right > img:nth-child(1) { height: 163px;}
.parameter-inner-right-2 img:nth-child(1) { height: 212px;}
.helpIcon { max-width: 38px;  min-width: 38px;  right: 20px;  top: 14px;}
.parameter-inner-left ul li { margin: 0 0 8px;}


/**  grillables-timer  **/
section#overviewPage.grillables-timer { margin-top: 200px;}
.grilLogo.piece img { width: auto;}
.midiumRareList li img { max-width: 45px;  min-width: 45px;  width: 100%;}
.circleTimeingInner { max-width: 200px; min-height: 200px;  min-width: 200px;	}
.red-btn {  font-size: 13px;  max-width: 116px;  min-width: 116px;  padding: 9px;}
.remove { margin-top: 40px;}
.start { margin-top: 5px;}
.time-remaining { font-size: 15px;}
.time-15 { font-size: 25px;  line-height: 22px;}
.heading-2 { font-size: 18px;  line-height: 23px;}
.grill-timer-inner p { font-size: 14px;}
.grill-timer-inner { padding: 0 15px;}
.midiumRareList > li {  margin: 0 2px;}
.grilLogo.piece img { width: auto; max-width: 82px}

 
/**  grillables-timer-running  **/
.stop { margin-top: 40px;}
.yellow-btn { font-size: 18px; padding:7px 28px 10px;}
.rotate { font-size: 18px;  line-height: 18px;  margin-bottom: 10px;  margin-top: 18px;}
.grill-timer-inner { margin-top: 24px;}
.grill-timer-inner p { line-height: 16px;}
.button-grill .red-btn { font-size: 14px;  max-width: 126px;  min-width: 126px;  padding: 12px;}

/**  grillables-timer-stop  **/
.flame-stoped > span { font-size: 15px;  line-height: 15px;} 
.flame-stoped > img { max-width: 30px;  min-width: 30px;}
.flame-stoped { margin-top: 10px;} 

/**  grillables-timer-Done  **/
.done { font-size: 18px;  line-height: 18px;  margin: 30px 0 8px;}
.red-btn-tiny { font-size: 18px;  max-width: 127px;  min-width: 127px;  padding: 10px;}
.share-btn-left { margin-right: 8px;}
.shareInviteBtn { margin-top: 36px;}

/** reposive back menu **/
.rsMenu.Show::before { left: -1px; top: 0;  width: 17px;}

.listingDot { bottom: -30px;
}
.rib-para > h1 {  font-size: 16px;}
section#contentBox { margin-top: 138px;}
section#contentBox { padding-bottom: 55px;}

/**  special page  **/
.logo.specialPage img { width: 92px;}
.logo.specialPage h1 { font-size: 17px;}
.chili-inner img {  width: 50px;}
.circleTimeing { margin-top: 2px;}
.midiumRareList { margin-bottom: 5px;}
section#contentBox.grillableSection { margin-top: 118px;}
.circleTimeingInner.darrkCircle { margin-top: -5px;}

/**  invitation  **/
.invitation .listing-images ul li {  display: inline-block;  margin-right: 5px;  width: 14%;}
.invitation .invitation-form form input { min-height: inherit;}
.noPadRight {  padding-right: 0;}
.noPadLeft {  padding-left:0;}
.invitation-form form input::-webkit-input-placeholder, .invitation-form form textarea::-webkit-input-placeholder { color: transparent; font-size:12px !important; line-height:18px;}
.invitation .invitation-form form textarea::-moz-placeholder, .invitation .invitation-form form input::-moz-placeholder { font-size: 12px; line-height:18px;
}



}
	