/* Empty. Add your own CSS if you like */

@font-face {
  font-family: "source_sans_proregular";
  src: url("font/sourcesanspro-regular.woff") format("woff"), url("font/sourcesanspro-regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "source_sans_probold";
  src: url("font/sourcesanspro-bold.woff") format("woff"), url("font/sourcesanspro-bold.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_prosemibold';
  src: url("font/sourcesanspro-semibold.woff") format("woff"), url("font/sourcesanspro-semibold.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

.toast_section {
  text-transform: initial;
}

.view_background {
  background: url(../img/bg1.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
  background: cover;
}

.view_background_menuOpen {
  background: url(../img/bgMenuOpen.png) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
  background: cover;
}

.bar-header {
  height: 90px;
  background-color: transparent !important;
  border-style: none !important;
  border-bottom-width: 0px !important;
}

.bar {
  background-image: none !important;
}

.has-header {
  top: 90px;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader {
  top: 100px;
}

.bar .title {
  height: 90px;
}

.platform-android .bar .title {
  left: 50px !important;
  text-align: center !important;
}

.platform-android .menu_nevigator_img_home {
  margin-top: -30px;
  width: 26px;
  height: 26px;
}

.platform-ios .menu_nevigator_img_home {
  width: 26px;
  height: 26px;
}

.head_button {
  background: transparent !important;
  border: none !important;
}

.menu_nevigator_img {
  /*margin-top: 15px;
  margin-right: 15px;*/
  margin-top: -55px;
  width: 26px;
  height: 26px;
}

.platform-ios .menu_nevigator_img {
  margin-top: -55px;
  /*margin-right: 15px;*/
  width: 26px;
  height: 26px;
}

#aboutPage .bar-header {
  height: 120px;
}


/*For Invite*/

.menu_nevigator_imginvite {
  width: 26px;
  height: 26px;
}

.platform-ios .menu_nevigator_imginvite {
  width: 26px;
  height: 26px;
  margin-top: -55px;
}

.menu_nevigator_backimginvite {
  width: 26px;
  height: 26px;
}

.platform-ios .menu_nevigator_backimginvite {
  width: 26px;
  height: 26px;
  margin-top: -55px;
}


/*End Here*/


/*.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader)>* {
  margin-top: 0px;
}*/

.menu_nevigator_img img {
  width: 100%
}

.menu_nevigator_backimgright {
  margin-top: 11px;
  margin-right: 15px;
  width: 18px;
  height: 28px;
}

.menu_nevigator_backimg {
  margin-top: -55px;
  /*margin-left: 15px;*/
  width: 26px;
  height: 26px;
}

.menu_nevigator_backimg img {
  width: 100%
}

.platform-ios .menu_nevigator_backimg {
  margin-top: -55px;
  /*margin-left: 15px;*/
  width: 26px;
  height: 26px;
}

.title_logo {
  width: 130px;
  padding-top: 25px;
}

.platform-ios .title_logo {
  width: 130px;
  padding-top: 10px !important;
}

.home_container {
  margin-top: 30px;
}

.home_container .row {
  margin: 0px !important;
  padding-left: 35px;
  padding-right: 35px;
}

#homePage .row {
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

#homePage {
  margin-top: 0px !important;
}

#homePage .container-inner {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-top: 10px !important;
}

#hsp .spinner {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 85px;
  text-align: center;
}

#hsp .spinner svg {
  width: 19% !important;
  height: 85px !important;
}

::-webkit-scrollbar {
  display: none;
}


/*About Page*/

.aboutpage p {
  width: 90%;
  margin-left: 5%;
  color: #770000;
  font-family: "source_sans_proregular";
  font-size: 25px;
  letter-spacing: 0.2px;
  /*text-align: justify;*/
  line-height: normal;
  /*padding-left: 30px;
  padding-right: 30px;*/
  text-transform: initial;
}

#aboutPage .bar-header {
  height: 120px;
}

.aboutpage h1 {
  width: 90%;
  margin-left: 5%;
  color: #770000;
  font-family: "source_sans_probold";
  font-size: 35px;
  letter-spacing: 0.6px;
  text-align: center;
  text-transform: uppercase;
  line-height: normal;
  margin-bottom: 15px;
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 640px) {
  .aboutpage p {
    font-size: 19px;
  }
  .aboutpage h1 {
    font-size: 23px;
  }
}

@media(max-width: 400px) {
  .aboutpage p {
    font-size: 15px;
  }
  .aboutpage h1 {
    font-size: 17px;
  }
}

@media(max-width: 330px) {
  .aboutpage p {
    font-size: 15px;
  }
  .aboutpage h1 {
    font-size: 17px;
  }
}


/*End About Page*/


/*Menu Search page*/

#searchpage h2 {
  width: 70% !important;
}

.searchlayout .cancelbtn {
  margin-top: 7px;
  float: left;
  width: 25px;
  margin-left: 15px;
  padding-bottom: 10px;
}

.searchlayout .searchInput {
  width: 80% !important;
  float: left;
}

.menuHeader {
  height: 70px;
}

.menuHeader .listing-form {
  position: initial !important;
  padding: 10px 10px 10px !important;
}

.platform-ios .menuHeader .listing-form {
  position: initial !important;
  padding: 5px 10px 10px !important;
  margin-top: 5px !important;
}

#menuview .has-header {
  top: 70px;
}

.platform-ios .menuHeader {
  height: 70px !important;
  padding-top: 10px !important;
}

.platform-ios #menuview .has-header {
  top: 80px;
}


/**/


/*Selected Element Page*/

#selEle .title_logo {
  /*width: 90px;*/
  width: auto;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 20px;
}

.platform-ios #selEle .title_logo {
  /*width: 90px;*/
  width: auto;
  padding-top: 10px !important;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#selEle .bar-header {
  /*height: 120px;*/
  height: 110px;
}

#selEle .bar .title {
  /*height: 120px;*/
  /*height: 110px;*/
}

#selEle .subhead1 {
  top: 110px;
  height: auto;
  /*30px;*/
}

#selEle ion-content {
  /*top: 140px;*/
}

#selEle .titletxt {
  color: #770000;
  float: left;
  font-family: 'source_sans_probold';
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin-top: 5px;
}

#selEle section#overviewPage.meatCut {
  margin-top: 20px !important;
}

#selEle .changebg {
  background: #770000;
}

#selEle .changebg h2 {
  color: white;
}


/**/


/*Preparation Screen Page*/


#prScreen .about p{

}
#prScreen .title_logo {
  /*width: 90px;*/
  width: auto;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 20px;
}

.platform-ios #prScreen .title_logo {
  /*width: 90px;*/
  width: auto;
  padding-top: 10px !important;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#prScreen .bar-header {
  /*height: 120px;*/
  height: 110px;
}

#prScreen .bar .title {
  /*height: 120px;*/
  /*height: 110px;*/
}

#prScreen .subhead1 {
  top: 110px;
  height: auto;
  /*40px;*/
}

#prScreen ion-content {
  /* top: 140px;*/
}

#prScreen .hasFotter {
  bottom: 75px;
}

#prScreen .Fotterheight {
  height: 80px !important;
}

#prScreen .titletxt {
  color: #770000;
  float: left;
  font-family: 'source_sans_probold';
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#prScreen .button-grill {
  position: relative;
  margin-top: 0px;
  width: 100%;
}

#prScreen section#overviewPage.meatCut {
  margin-top: 0px !important;
}

.row_marginpadding {
  margin: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#prScreen .container {
  width: 100% !important;
  margin-top: 10px;
}

#prScreen p, li {
  text-transform: initial;
}

#prScreen .ulmargin {
  margin-bottom: 4px !important;
}


/**/


/*Element Screen*/

#eleScreen #overviewPage .left-col-home h2 {
  margin-bottom: 0px !important;
}

#eleScreen .title_logo {
  /*width: 90px;*/
  width: auto;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 20px;
}

.platform-ios #eleScreen .title_logo {
  /*width: 90px;*/
  width: auto;
  padding-top: 10px !important;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#eleScreen .bar-header {
  /*height: 120px;*/
  height: 110px;
}

#eleScreen .bar .title {
  /*height: 120px;*/
  /*height: 110px;*/
}

#eleScreen .subhead1 {
  height: auto;
  /*30px;*/
  top: 110px;
}

#eleScreen .container-inner {
  margin-top: 10px !important;
}

#eleScreen ion-content {
  /*top: 140px;*/
}

#eleScreen .titletxt {
  color: #770000;
  float: left;
  font-family: 'source_sans_probold';
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#eleScreen section#overviewPage {
  margin-top: 0px !important;
}

#eleScreen .layonecenter {
  margin-left: 25%;
}

#eleScreen .rmmargone {
  margin-bottom: 0px;
}

#eleScreen .rmmargtwo {
  margin-bottom: 5px;
}

.platform-ios .overflow {
  overflow: hidden !important;
}

.contentborder {
  /*overflow: hidden !important;*/
  border-top: 3px solid transparent;
  -webkit-border-image: url(../img/horizontal.png) 30 round;
  /* Safari 3.1-5 */
  -o-border-image: url(../img/horizontal.png) 30 round;
  /* Opera 11-12.1 */
  border-image: url(../img/horizontal.png) 30 round;
  width: 100%;
}

.contentborder2 {
  /*overflow: hidden !important;*/
  border: none !important;
}


/**/

#settingPage .bar-header {
  height: 120px;
}


/*Timer Road map*/

#timer .title_logo {
  width: 75px;
  padding-top: 15px;
}

.platform-ios #timer .title_logo {
  width: 75px;
  padding-top: 10px !important;
}

#timer .bar-header {
  height: 120px;
}

#timer .bar .title {
  height: 140px;
}

#timer .titletxt {
  color: #770000;
  float: left;
  font-family: 'source_sans_probold';
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin-top: 5px;
}

#timer .has-header {
  top: 140px;
}

#timer section#overviewPage {
  margin-top: 0px !important;
}

.platform-android #timer .bar .title {
  left: 0px !important;
  right: 0px !important;
}

#timer .changebg {
  background: #770000;
}

#timer .changebg h2 {
  color: white;
}

#timer .changebg p {
  color: white !important;
}

#timer .remainTimer {
  text-transform: capitalize;
}

#timer #txt p {
  text-transform: initial;
}


/**/


/**/

#setpara .title_logo {
  /*width: 90px;*/
  width: auto;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 20px;
}

.platform-ios #setpara .title_logo {
  /*width: 90px;*/
  width: auto;
  padding-top: 10px !important;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#setpara .bar-header {
  /*height: 120px;*/
  height: 110px;
}

#setpara .bar .title {
  /*height: 120px;*/
  /*height: 110px;*/
}

#setpara .subhead1 {
  top: 110px;
  height: 40px;
}

#setpara .titletxt {
  color: #770000;
  float: left;
  font-family: 'source_sans_probold';
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#setpara ion-content {
  top: 140px;
}

#setpara .toptext {
  margin-bottom: 15px;
  text-transform: initial;
  line-height: 20px;
}

#setpara .button-grill {
  position: relative;
}

#setpara section#overviewPage {
  margin-top: 0px !important;
  /*margin-top: 10px !important;*/
}

#setpara .grillenbtnrow {
  margin-left: 0px;
  margin-right: 0px;
}

#setpara .range {
  -ms-transform: rotate(-90deg);
  /* IE 9 */
  -webkit-transform: rotate(-90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  i.icon {
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Chrome, Safari, Opera */
    transform: rotate(90deg);
  }
}

#setpara .range input {
  background: url(../img/para-left.png) no-repeat !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
  background-position: center center !important;
  background: cover !important;
}

#setpara .range input {
  background-size: 99% 15px !important;
}

#setpara .k-draghandle {
  background: url(../img/para.png) no-repeat !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
  background-position: center center !important;
  background: cover !important;
  border-color: transparent !important;
}

#setpara #secrange .k-slider-wrap {
  background: url(../img/para-right.png) no-repeat !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
  background-position: center center !important;
  background: cover !important;
  width: 30px !important;
  height: 300px !important;
}

#setpara #secrange .k-slider-vertical .k-slider-buttons .k-slider-track {
  height: 240px !important;
  bottom: 20px !important;
  top: 30px !important;
}

#setpara.k-flatcolorpicker .k-hue-slider .k-draghandle, .k-flatcolorpicker .k-transparency-slider .k-draghandle, .k-slider-horizontal .k-draghandle, .k-slider-vertical .k-draghandle {
  width: 50px !important;
  height: 30px !important;
  margin-left: -16px !important;
}

#setpara .k-slider-wrap {
  background: url(../img/para-left.png) no-repeat !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
  background-position: center center !important;
  background: cover !important;
  width: 30px !important;
  height: 261px !important;
}

#setpara .k-slider .k-button, .k-slider .k-button.k-state-hover, .k-slider .k-button:active, .k-slider .k-button:active:hover, .k-slider .k-button:focus {
  display: none !important
}

#setpara .k-slider-vertical .k-tick {
  background-image: none !important;
}

#setpara .k-slider-selection {
  background-color: transparent !important;
  border-color: transparent !important;
}

#setpara .k-slider-vertical .k-label {
  display: none !important;
}

#setpara .k-slider-vertical .k-slider-buttons .k-slider-track {
  bottom: 10px !important;
  top: 30px !important;
  height: 200px !important
}

.k-slider-vertical .k-slider-selection, .k-slider-vertical .k-slider-track {
  width: 0px !important;
}

#setpara .sliderDiv {
  position: relative;
  height: 270px;
  overflow: visible
}

#setpara .cmtext {
  height: 34px;
  margin-top: 15px;
  color: #770000;
  font-size: 20px;
  font-family: "source_sans_prosemibold";
}

#setpara .rangetwotext2 {
  font-size: 17px;
  font-family: "source_sans_prosemibold";
  text-align: right;
}

#setpara .rangetwotext2color1 {
  color: #990000;
  margin-top: 20px;
}

#setpara .rangetwotext2color2 {
  color: #a31f0a;
  margin-top: 20px;
}

#setpara .rangetwotext2color3 {
  color: #b24d1a;
  margin-top: 20px;
}

#setpara .rangetwotext2color4 {
  color: #c27a29;
  margin-top: 20px;
}

#setpara .rangetwotext2color5 {
  color: #c58405;
}

#setpara .rangetwotext2color1only {
  color: #990000;
  margin-top: 17px;
}

#setpara .rangetwotext2color2only {
  color: #a31f0a;
  margin-top: 35px;
}

#setpara .rangetwotext2color3only {
  color: #b24d1a;
  margin-top: 35px;
}

#setpara .rangetwotext2color4only {
  color: #c27a29;
  margin-top: 35px;
}

#setpara .rangetwotext2color5only {
  color: #c58405;
  margin-top: 35px;
}

#setpara .range1value {
  color: #770000;
  margin-left: 15%;
  font-size: 25px;
  margin-bottom: 0px;
}

#setpara .range1valueandnot2 {
  /* left: 41% !important;*/
  margin-left: 40%;
}

#setpara .range1divpad {
  padding-left: 80px !important;
}

#setpara .range1divpcol {
  margin-top: 37px;
}

#setpara .range1divrangecol {
  margin-top: 37px;
}

#setpara .rangeDisplaydiv {
  margin-bottom: 0px;
  padding-bottom: 0px;
  height: 40px;
}

#setpara .cmDiv {
  margin-top: -35px;
}

#setpara .button-grill::after {
  background: none;
}

.colmargin {
  margin-left: 6%;
}


/**/


/*Set Timer Screen*/

#settimer .title_logo {
  /*width: 90px;*/
  width: auto;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 20px;
}

#settimer  .grill-timer-inner{
  margin-top: 0px !important;
}
.platform-ios #settimer .title_logo {
  /*width: 90px;*/
  width: auto;
  padding-top: 10px !important;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#settimer .bar-header {
  /*height: 120px;*/
  height: 110px;
}

#settimer .bar .title {
  /*height: 120px;*/
  /*height: 110px;*/
}

#settimer .titletxt {
  color: #770000;
  float: left;
  font-family: 'source_sans_probold';
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin-top: 8px;
}

#settimer .forpera {
  max-width: 70px;
  min-width: 70px;
}

#settimer ion-content {
  top: 140px;
}

#settimer .timer-subh1 {
  top: 100px;
  height: 30px;
}

#settimer .stopTimerText {
  text-transform: initial !important;
}

#settimer .timer-subh2 {
  top: 120px;
  height: 40px;
}

#settimer section#overviewPage {
  margin-top: 0px !important;
  margin-top: 20px !important;
}

#settimer .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#settimer .circle-red-btn {
  background: rgba(0, 0, 0, 0) url(../img/btn.png) no-repeat scroll center center / 100% 100%;
  color: #fff0cc;
  display: inline-block;
  font-family: "source_sans_probold";
  font-size: 14px;
  margin: auto;
  width: 100%;
  margin-top: 10px;
  height: 42px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

#settimer .cicrcle-time-remaining {
  color: #770000 !important;
  font-size: 14px;
  margin-top: 7px;
  font-family: 'source_sans_proregular';
  text-align: center;
  text-transform: initial;
}

#settimer .cicrcle-time-15 {
  color: #770000 !important;
  font-size: 24px;
  text-align: center;
  font-family: "source_sans_prosemibold";
}

#settimer .circle-btn-div {
  width: 40%;
  position: absolute;
  left: 30%;
  top: 38%;
  z-index: 1;
}

.platform-android #settimer .circle-btn-div {
  width: 40%;
  position: absolute;
  left: 30%;
  top: 36%;
  z-index: 1;
}

#settimer .cicle-yellow-btn {
  background: rgba(0, 0, 0, 0) url(../img/yellow-button.png) no-repeat scroll center center / 100% 100%;
  color: #cc9933;
  display: inline-block;
  font-family: "source_sans_probold";
  font-size: 14px;
  margin: auto;
  width: 85%;
  margin-left: 7%;
  margin-top: 5px;
  height: 42px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

#settimer .circle-rotate {
  color: #770000 !important;
  font-family: "source_sans_proregular";
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;
  text-transform: initial;
}

#settimer .flame-stoped-img {
  margin-left: 35%;
}

#settimer .heading-2 {
  text-transform: initial !important;
}

#settimer .texttraf {
  text-transform: initial !important;
}

#settimer .circle-btn-div-stop {
  width: 40%;
  position: absolute;
  left: 30%;
  top: 33%;
  z-index: 1;
}

.platform-android #settimer .circle-btn-div-stop {
  width: 40%;
  position: absolute;
  left: 30%;
  top: 34%;
  z-index: 1;
}

#settimer .circle-done {
  color: #770000;
  float: left;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  width: 100%;
  font-family: "source_sans_probold";
  text-transform: initial;
}

#settimer .slider-pager .slider-pager-page {
  /*color: #770000;*/
  color: transparent !important;
  background: url(../img/pageerUnselect.png) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
  background: cover;
  width: 18px;
  opacity: 1 !important;
}

#settimer .slider-pager-page.active {
  color: transparent !important;
  background: url(../img/pagerSelect.png) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
  background: cover;
  width: 18px;
}

#settimer .slider-pager {
  bottom: 0px;
  height: 20px;
}

#settimer .slider-slides {
  height: 365px !important;
}

#settimer .shareInviteBtn {
  margin-top: 30px !important;
}

#settimer .image-text {
  position: absolute;
  color: white;
  font-size: 12px;
}

.text {
  left: 0;
  position: absolute;
  text-align: center;
  top: 30px;
  width: 100%
}

#settimer .bbq-text {
  /*left: 82%;*/
  top: 4.5%;
  width: 25%;
  text-align: center;
}

#settimer .thickness-text {
  /*left: 58%;*/
  top: 6.5%;
  width: 25%;
  text-align: center;
}

#settimer .meat-color-text {
  /*left: 8%;*/
  top: 4.5%;
  width: 25%;
  text-align: center;
}

#settimer .meat-center-text {
  /* left: 34.5%;*/
  top: 6.5%;
  width: 25%;
  text-align: center;
}

#settimer .platform-android .action-sheet .action-sheet-title, .platform-android .action-sheet .button {
  padding-left: 30px;
}

#settimer .modesContainer {
  text-align: center;
}

#settimer .modes {
  display: inline-block;
  width: 24%;
}


/**/

@media (max-width: 320px) {}

@media(max-width: 400px) {}

@media (max-width: 500px) {}

@media (max-width:600px) {}

#settimer .progress-wrapper {
  position: relative;
  margin: 20px auto;
  font-size: 21px;
}

#settimer .progress {
  background: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 9em;
  font-size: 10px !important;
  text-align: center;
  font-weight: 100;
}


/*Intro Screen*/

#introScreen a, .ativated {
  color: none !important;
}

#introScreen .title_logo {
  width: 160px;
  padding-top: 20px;
}

.platform-ios #introScreen .title_logo {
  width: 160px;
  padding-top: 10px !important;
}

#introScreen .bar-header {
  height: 110px;
}

#introScreen .bar .title {
  height: 110px;
  left: 0px !important;
}

#introScreen .has-header {
  top: 110px;
}

#introScreen .red-btn {
  min-width: 84%;
  padding: 10px;
  margin-left: 8%;
}

#introScreen .row {
  margin-left: 0px;
  margin-right: 0px;
}

#introScreen .titletxt {
  color: #770000;
  float: left;
  font-family: 'source_sans_probold';
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin-top: 5px;
  padding-top: 1vh;
}

#introScreen .button-grill::after {
  height: 0px !important;
}

#introScreen .slider-pager .slider-pager-page {
  color: #770000;
}

#introScreen .maindiv {
  padding: 20px;
  height: 60vh;
  overflow: scroll;
}

#introScreen p {
  text-transform: initial;
  color: #770000;
  text-align: justify;
  font-family: "source_sans_proregular";
  font-size: 16px;
  line-height: normal;
}

#introScreen .slidecancel {
  width: 20px;
}

#introScreen .pageclassrow {
  margin-top: 3%;
  width: 96%;
  margin-left: 5%;
}

#introScreen .togglerow {
  margin-top: 20vh;
  margin-left: 15px;
}

#introScreen #intpic img {
  width: 100%;
}


/**/


/*Invite Screen*/

.ionic_timepicker_popup .heading {
  background-color: #770000 !important;
}

.ionic_timepicker_popup .button_set, .ionic_timepicker_popup .button_close {
  background-color: #770000 !important;
}

.ionic_timepicker_popup .time_picker_box_text {
  color: #770000 !important;
  border: 1px solid #770000 !important;
}

.ionic_timepicker_popup .padding_left_15px {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.ionic_timepicker_popup .time_picker_arrows {
  color: #770000 !important;
}

#invite .rmpad{
  padding: 0px !important;
}

#invite .rmpaddateleft{
  padding-left: 0px !important;
}
#invite .rmpadtimeright{
  padding-right: 0px !important;
}
#invite .rmpadmainimage{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#invite input:focus::-webkit-input-placeholder {
  color: transparent !important;
}

#invite textarea:focus::-webkit-input-placeholder {
  color: transparent !important;
}

#invite input:focus:-moz-placeholder {
  color: transparent !important;
}

#invite .bar .title {
  left: 50px !important;
  text-align: center !important;
  top: 10px !important;
}

.platform-ios #invite .bar .title {
  left: 50px !important;
  text-align: center !important;
}

#invite .bar-header {
  height: 65px;
}

.platform-ios #invite .bar-header {
  height: 120px;
}

#invite .bar .title {
  height: 50px;
}

#invite .has-header {
  top: 65px;
}

.platform-ios #invite .has-header {
  top: 80px;
}

#invite ion-content {
  top: 65px;
}

#invite .invitation-content {
  margin-top: 0px;
}

#invite .titletxt {
  color: #770000 !important;
  float: left;
  font-family: 'source_sans_probold' !important;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin-top: 15px;
}


.platform-ios #invite .titletxt {
  color: #770000 !important;
  float: left;
  font-family: 'source_sans_probold' !important;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin-top: 15px;
  padding-top: 15px;
}

.platform-ios #invite .titletxt {
  color: #770000;
  float: left;
  font-family: 'source_sans_probold';
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin-top: -2px;
}

#invite .row {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
  padding-top: none;
}

#invite .conta {
  width: 100% !important;
  max-width: 100% !important;
}

#invite #contentBox {
  margin-top: 0px !important;
}

@media(max-width:1024px) {
  #invite .img_1_txt1 {
    font-size: 19px;
  }
  #invite .img_1_txt2 {
    font-size: 18px;
  }
  #invite .img_1_txt3 {
    font-size: 22px;
  }
  #invite .img_1_txt4 {
    font-size: 14px;
  }
  #invite .img_1_txt5 {
    font-size: 18px;
  }
  #invite .img_2_txt1 {
    font-size: 16px;
  }
  #invite .img_2_txt2 {
    font-size: 16px;
  }
  #invite .img_2_txt3 {
    font-size: 22px;
  }
  #invite .img_2_txt4 {
    font-size: 14px;
  }
  #invite .img_2_txt5 {
    font-size: 16px;
  }
  #invite .img_3_txt1 {
    font-size: 16px;
  }
  #invite .img_3_txt2 {
    font-size: 16px;
  }
  #invite .img_3_txt3 {
    font-size: 22px;
  }
  #invite .img_3_txt4 {
    font-size: 14px;
  }
  #invite .img_3_txt5 {
    font-size: 16px;
  }
  #invite .img_4_txt1 {
    font-size: 16px;
  }
  #invite .img_4_txt2 {
    font-size: 16px;
  }
  #invite .img_4_txt3 {
    font-size: 22px;
  }
  #invite .img_4_txt4 {
    font-size: 14px;
  }
  #invite .img_4_txt5 {
    font-size: 16px;
  }
  #invite .img_5_txt1 {
    font-size: 16px;
  }
  #invite .img_5_txt2 {
    font-size: 16px;
  }
  #invite .img_5_txt3 {
    font-size: 22px;
  }
  #invite .img_5_txt4 {
    font-size: 14px;
  }
  #invite .img_5_txt5 {
    font-size: 16px;
  }
  #invite .camlayout_title {
    font-size: 20px;
  }
  #invite .camlayout_date {
    font-size: 14px;
  }
  #invite .camlayout_time {
    font-size: 14px;
  }
  #invite .camlayout_location {
    font-size: 14px;
  }
  #invite .camlayout_longtext {
    font-size: 14px;
  }
}

@media(max-width:360px) {
  #invite .img_1_txt1 {
    font-size: 17px;
  }
  #invite .img_1_txt2 {
    font-size: 16px;
  }
  #invite .img_1_txt3 {
    font-size: 16px;
  }
  #invite .img_1_txt4 {
    font-size: 11px;
  }
  #invite .img_1_txt5 {
    font-size: 16px;
  }
  #invite .img_2_txt1 {
    font-size: 14px;
  }
  #invite .img_2_txt2 {
    font-size: 14px;
  }
  #invite .img_2_txt3 {
    font-size: 20px;
  }
  #invite .img_2_txt4 {
    font-size: 11px;
  }
  #invite .img_2_txt5 {
    font-size: 14px;
  }
  #invite .img_3_txt1 {
    font-size: 14px;
  }
  #invite .img_3_txt2 {
    font-size: 14px;
  }
  #invite .img_3_txt3 {
    font-size: 20px;
  }
  #invite .img_3_txt4 {
    font-size: 11px;
  }
  #invite .img_3_txt5 {
    font-size: 14px;
  }
  #invite .img_4_txt1 {
    font-size: 14px;
  }
  #invite .img_4_txt2 {
    font-size: 14px;
  }
  #invite .img_4_txt3 {
    font-size: 20px;
  }
  #invite .img_4_txt4 {
    font-size: 11px;
  }
  #invite .img_4_txt5 {
    font-size: 14px;
  }
  #invite .img_5_txt1 {
    font-size: 14px;
  }
  #invite .img_5_txt2 {
    font-size: 14px;
  }
  #invite .img_5_txt3 {
    font-size: 20px;
  }
  #invite .img_5_txt4 {
    font-size: 11px;
  }
  #invite .img_5_txt5 {
    font-size: 14px;
  }
  #invite .camlayout_title {
    font-size: 18px;
  }
  #invite .camlayout_date {
    font-size: 12px;
  }
  #invite .camlayout_time {
    font-size: 12px;
  }
  #invite .camlayout_location {
    font-size: 12px;
  }
  #invite .camlayout_longtext {
    font-size: 11px;
  }
}

#invite .img_1_txt1 {
  position: absolute;
  top: 6vh;
  width: 100%;
  text-align: center;
  color: #ffffff;
  z-index: 1;
  font-family: "source_sans_probold";
  text-transform: capitalize;
}

#invite .img_1_txt2 {
  position: absolute;
  top: 10vh;
  width: 100%;
  text-align: center;
  color: #ffffff;
  z-index: 1;
  font-family: "source_sans_proregular";
}

#invite .img_1_txt3 {
  padding-right: 40px;
  padding-left: 40px;
  position: absolute;
  top: 24vh;
  width: 100%;
  text-align: center;
  color: #770000;
  z-index: 1;
  font-family: "source_sans_probold";
}

#invite #cameraLayout  {
  background: #7a1200 !important;
}

#invite .img_1_txt4 {
  padding-right: 20px;
  padding-left: 20px;
  position: absolute;
  top: 35vh;
  width: 100%;
  text-align: center;
  color: #663300;
  z-index: 1;
  font-family: "source_sans_proregular";
}

#invite .img_1_txt5 {
  margin-left: 20%;
  position: absolute;
  top: 58vh;
  width: 60%;
  text-align: center;
  z-index: 1;
  color: #ffffff;
  font-family: "source_sans_proregular";
}

#invite .img_2_txt1 {
  position: absolute;
  top: 62vh;
  width: 100%;
  text-align: left;
  padding-left: 20px;
  color: #ffffff;
  z-index: 1;
  font-family: "source_sans_probold";
  text-transform: capitalize;
}

#invite .img_2_txt2 {
  position: absolute;
  top: 65vh;
  width: 100%;
  text-align: left;
  padding-left: 20px;
  color: #ffffff;
  z-index: 1;
  font-family: "source_sans_proregular";
}

#invite .img_2_txt3 {
  padding-right: 40px;
  padding-left: 40px;
  position: absolute;
  top: 3vh;
  width: 100%;
  text-align: center;
  color: #000000;
  z-index: 1;
  font-family: "source_sans_probold";
}

#invite .img_2_txt4 {
  padding-right: 35px;
  padding-left: 20px;
  position: absolute;
  top: 36vh;
  width: 100%;
  text-align: justify;
  color: #000000;
  z-index: 1;
  font-family: "source_sans_proregular";
}

#invite .img_2_txt5 {
  padding-left: 20px;
  position: absolute;
  top: 50vh;
  width: 60%;
  text-align: left;
  color: #000000;
  z-index: 1;
  font-family: 'source_sans_prosemibold';
}

#invite .img_3_txt1 {
  position: absolute;
  top: 57vh;
  width: 100%;
  text-align: center;
  color: #770000;
  z-index: 1;
  font-family: "source_sans_probold";
  text-transform: capitalize;
}

#invite .img_3_txt2 {
  position: absolute;
  top: 60vh;
  width: 100%;
  text-align: center;
  color: #770000;
  z-index: 1;
  font-family: "source_sans_proregular";
}

#invite .img_3_txt3 {
  padding-right: 40px;
  padding-left: 40px;
  position: absolute;
  top: 16vh;
  width: 100%;
  text-align: center;
  color: #770000;
  z-index: 1;
  font-family: "source_sans_probold";
}

#invite .img_3_txt4 {
  padding-right: 30px;
  padding-left: 30px;
  position: absolute;
  top: 30vh;
  width: 100%;
  text-align: center;
  color: #770000;
  z-index: 1;
  font-family: "source_sans_proregular";
}

#invite .img_3_txt5 {
  padding-left: 50px;
  padding-right: 50px;
  position: absolute;
  top: 45vh;
  width: 100%;
  text-align: center;
  color: #770000;
  z-index: 1;
  font-family: "source_sans_proregular";
}

#invite .img_4_txt1 {
  position: absolute;
  top: 1.5vh;
  width: 50%;
  text-align: left;
  padding-left: 20px;
  color: #cccccc;
  z-index: 1;
  font-family: "source_sans_probold";
  text-transform: capitalize;
}

#invite .img_4_txt2 {
  position: absolute;
  top: 4.5vh;
  width: 50%;
  padding-left: 20px;
  text-align: left;
  color: #cccccc;
  z-index: 1;
  font-family: "source_sans_proregular";
}

#invite .img_4_txt3 {
  padding-right: 25px;
  padding-left: 25px;
  position: absolute;
  top: 10vh;
  width: 100%;
  text-align: center;
  color: #ffffff;
  z-index: 1;
  font-family: "source_sans_probold";
}

#invite .img_4_txt4 {
  padding-right: 30px;
  padding-left: 30px;
  position: absolute;
  top: 23vh;
  width: 100%;
  text-align: center;
  color: #cccccc;
  z-index: 1;
  font-family: "source_sans_proregular";
}

#invite .img_4_txt5 {
  position: absolute;
  top: 1.5vh;
  width: 50%;
  left: 50%;
  text-align: left;
  color: #cccccc;
  z-index: 1;
  font-family: "source_sans_proregular";
}

#invite .img_5_txt1 {
  position: absolute;
  top: 62.5vh;
  width: 50%;
  text-align: left;
  padding-left: 20px;
  color: #000000;
  z-index: 1;
  font-family: "source_sans_probold";
  text-transform: capitalize;
}

#invite .img_5_txt2 {
  position: absolute;
  top: 65vh;
  width: 50%;
  padding-left: 20px;
  text-align: left;
  color: #000000;
  z-index: 1;
  font-family: "source_sans_proregular";
}

#invite .img_5_txt3 {
  padding-right: 25px;
  padding-left: 25px;
  position: absolute;
  top: 35vh;
  width: 100%;
  text-align: center;
  color: #000000;
  z-index: 1;
  font-family: "source_sans_probold";
}

#invite .img_5_txt4 {
  padding-right: 30px;
  padding-left: 30px;
  position: absolute;
  top: 47vh;
  width: 100%;
  text-align: center;
  color: #000000;
  z-index: 1;
  font-family: "source_sans_proregular";
}

#invite .img_5_txt5 {
  position: absolute;
  top: 62.5vh;
  /* padding-right: 20px; */
  width: 50%;
  left: 50%;
  /* text-align: right; */
  color: #000000;
  z-index: 1;
  font-family: "source_sans_proregular";
}

#invite .invitecamlayoutrow1 {
  /*background: #7a1200;*/
  height: 13vh;
}

#invite .invitecamlayoutrow2 {
  /*background: #7a1200;*/
  width: 100%;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#invite .invitecamlayoutrow3 {
  /*background: #7a1200;*/
  height: 15vh;
}

#invite .invitecamlayoutrow4 {
  /*background: #7a1200;*/
  height: 9vh;
}

#invite .camimage {
  width: 100%;
}

#invite #cameraLayout .row {
  padding: 0px;
}

#invite .camlayout_title {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  color: #ffffff;
  font-family: "source_sans_probold";
}

#invite p {
  text-transform: none;
}

#invite .camlayout_date {
  margin-bottom: 0px;
  padding-right: 10px;
  text-align: right;
  padding-top: 5px;
  color: #ffffff;
  font-family: "source_sans_probold";
  text-transform: capitalize;
}

#invite .camlayout_time {
  padding-right: 10px;
  text-align: right;
  color: #ffffff;
  font-family: "source_sans_proregular";
}

#invite .camlayout_location {
  text-align: left;
  padding-left: 10px;
  color: #ffffff;
  font-family: "source_sans_proregular";
  padding-top: 5px;
}

#invite .camlayout_longtext {
  height: 14vh;
  text-align: center;
  color: #ffffff;
  font-family: "source_sans_proregular";
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid;
  border-style: dashed;
}

#invite .camlayout_logo {
  position: absolute;
  width: 50px;
  top: 16vh;
  left: 1vh;
}

#invite .longtext_div {
  padding-left: 10px;
  padding-right: 10px;
}

.ionic_datepicker_popup .popup-body .selected_date_full {
  background-color: #770000 !important;
}

.ionic_datepicker_popup .row {
  margin-right: 0px;
  margin-left: 0px;
}


/**/


/*Setting Screen*/

#settingscreen .row {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 150px;
  padding-left: 30px;
}

#settingscreen .deText {
  text-align: right;
  padding-right: 15px;
  color: #770000;
  font-family: "source_sans_probold";
  font-size: 20px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  line-height: normal;
}

#settingscreen .enText {
  text-align: left;
  color: #770000;
  font-family: "source_sans_probold";
  font-size: 20px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  line-height: normal;
  padding-left: 20px;
}

#settingscreen .togglelabel {}

#settingscreen .toggle .track {
  height: 15px;
}

#settingscreen .toggle .handle {
  width: 30px;
  height: 30px;
  top: -3px;
  left: 6px;
}

#settingscreen .toggle input:checked+.track {
  border-color: #7b1401;
  background-color: #7b1401;
}

#settingscreen .midcol {
  margin-top: 6px;
}


/**/


/*Advertisement modal*/

.ion-nifty-modal {
  width: 100%;
  min-height: 0 !important;
  height: 100% !important;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
  background-color: transparent;
  /*-webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);*/
}

.platform-ios .ion-nifty-modal {
  width: 100%;
  min-height: 0 !important;
  height: 98% !important;
  padding-top: 4%;
  margin-top: 10px;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 4%;
  background-color: transparent;
  /*-webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);*/
}

.ion-nifty-modal .ion-modal-content-custom {
  width: 100%;
  height: 100%;
  color: #FFF;
  background-color: white;
  border: 2px solid;
}


/* Fix modal backdrop for smaller devices */

@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}

#x {
  border-radius: 50%;
  position: absolute;
  background: #fff5d9;
  color: black;
  top: 5px;
  right: 3px;
  font-size: 10px;
  border-color: black;
  font-weight: 700;
  width: 25px;
  height: 25px;
}

.platform-ios #x {
  border-radius: 50%;
  /* width: 7%; */
  width: 25px;
  height: 25px;
  position: absolute;
  background: #fff5d9;
  color: black;
  top: 9px;
  right: 5px;
  font-size: 10px;
  border-color: black;
  font-weight: 700;
}

.advimage {
  margin-left: 1%;
  margin-top: 1%;
  width: 98% !important;
  height: 84vh;
  background: white;
}

.platform-ios .advimage {
  margin-left: 1%;
  margin-top: 2%;
  background: white;
  width: 98% !important;
  padding-bottom: 4%;
  height: 84vh;
}

.modalid .button-grill::after {
  height: 0px !important;
}

.modalid .button-grill .red-btn {
  max-width: 190px;
  margin-left: 5%;
  min-width: 190px;
}

.adTitle {
  text-align: center;
  position: absolute;
  color: black;
  top: 2%;
  width: 80%;
  left: 10%;
  font-family: "source_sans_probold";
  font-size: 15px;
  color: #770000;
}

.platform-ios .adTitle {
  text-align: center;
  position: absolute;
  color: black;
  top: 5%;
  width: 80%;
  left: 10%;
  font-family: "source_sans_probold";
  font-size: 15px;
  color: #770000;
}

.modalid .button-grill {
  bottom: 10px;
  margin-top: 0px;
  padding-top: 0px;
}

.platform-ios .modalid .button-grill {
  bottom: 3%;
  margin-top: 0px;
  padding-top: 0px;
}

#advs .red-btn {
  font-size: 18px !important;
}

.norecordfound {
  color: #770000;
  float: left;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 29px;
  margin: 11px 0 0;
  text-align: center;
  text-transform: initial;
  width: 100%;
}

.nopr {
  padding: 0px !important;
  margin: 0px !important;
}

.cm {
  text-transform: lowercase;
  font-size: smaller;
}

.newinimage{
    display: block ;
    margin-left: auto ;
    margin-right: auto ;
    width: 100%;
}

/**/
@media screen and (max-width: 320px) and (min-width: 100px){
    .newinimage{width: 100%;height: 325px ;}

    .newinimagediv{ height: 325px ; width: 90%; margin-left: 5%;}

    #invite .img_1_txt3 { top: 110px;}
    #invite .img_1_txt4 { top: 170px;}
    #invite .img_1_txt5 { top: 262px; width: 90%;margin-left: 0;padding-left: 30px; padding-right: 30px;}
    #invite .img_1_txt2 { top: 52px; width: 90%;}
    #invite .img_1_txt1 { top: 32px; width: 90%;}

    #invite .img_2_txt4 { padding-right: 10px;padding-left: 10px;top: 180px;  width: 90%;}
    #invite .img_2_txt5 { padding-left: 10px;top: 230px; width: 90%; }
    #invite .img_2_txt1 { top: 283px; padding-left: 10px; width: 90%;}
    #invite .img_2_txt2 { padding-left: 10px; top: 300px; width: 90%;}


    #invite .img_3_txt3{top:80px;}
    #invite .img_3_txt4{top:155px;}
    #invite .img_3_txt5{top:200px; width: 90%;}
    #invite .img_3_txt1{top:260px; width: 90%;}
    #invite .img_3_txt2{top:280px; width: 90%;}

    #invite .img_4_txt1{padding-left: 15px;width: 45%;}
    #invite .img_4_txt2{padding-left: 15px;top: 22px;width: 45%;}
    #invite .img_4_txt5{width: 45%;}
    #invite .img_4_txt3{top: 50px;}
    #invite .img_4_txt4{top: 105px;}

    #invite .img_5_txt1{padding-left: 15px;top: 285px; width: 45%;}
    #invite .img_5_txt2{padding-left: 15px;top: 300px;}
    #invite .img_5_txt5{top: 285px;width: 45%;}
    #invite .img_5_txt3{top: 170px;}
    #invite .img_5_txt4{top: 235px;}
}

@media screen and (max-width: 360px) and (min-width: 321px){
  .newinimage{
      height: 380px ;
      width: 100%;
  }
    .newinimagediv{ height: 380px; width: 90%; margin-left: 5%;}
    #invite .img_1_txt3 { top: 130px;}
    #invite .img_1_txt4 { top: 190px;  }
    #invite .img_1_txt5 { top: 305px; width: 90%;margin-left: 0;padding-left: 30px; padding-right: 30px;}
    #invite .img_1_txt2 { top: 56px; width: 90%;}
    #invite .img_1_txt1 { top: 34px; width: 90%;}

    #invite .img_2_txt4 { padding-right: 10px;padding-left: 10px;top: 210px; width: 90%; }
    #invite .img_2_txt5 { padding-left: 10px;top: 270px; width: 90%; }
    #invite .img_2_txt1 { top: 335px; padding-left: 10px; width: 90%;}
    #invite .img_2_txt2 { padding-left: 10px; top: 355px; width: 90%;}

    #invite .img_3_txt3 {top:90px;}
    #invite .img_3_txt4 {top: 160px;}
    #invite .img_3_txt5{top:220px; width: 90%;}
    #invite .img_3_txt1{top:300px; width: 90%;}
    #invite .img_3_txt2{top:320px; width: 90%;}

    #invite .img_4_txt1{padding-left: 15px; width: 45%;}
    #invite .img_4_txt2{padding-left: 15px;top: 22px;width: 45%;}
    #invite .img_4_txt5{width: 45%;}
    #invite .img_4_txt3{ top: 50px;}
    #invite .img_4_txt4{ top: 115px;}

    #invite .img_5_txt1{padding-left: 15px;top: 335px; width: 45%;}
    #invite .img_5_txt2{padding-left: 15px;top: 352px;}
    #invite .img_5_txt5{top: 335px;width: 45%;}
    #invite .img_5_txt3{top: 195px;}
    #invite .img_5_txt4{top: 260px;}
}



@media screen and (min-width: 361px){
    .newinimage{height: 410px ;width: 100%;}
    .newinimagediv{ height: 410px; width: 90%; margin-left: 5%;}

    #invite .img_1_txt3 { top: 140px;}
    #invite .img_1_txt4 { top: 205px;  }
    #invite .img_1_txt5 { top: 330px; width: 90%;margin-left: 0;padding-left: 30px; padding-right: 30px;}
    #invite .img_1_txt2 { top: 56px; width: 90%;}
    #invite .img_1_txt1 { top: 34px; width: 90%;}

    #invite .img_2_txt4 { padding-right: 10px;padding-left: 10px;top: 230px; width: 90%; }
    #invite .img_2_txt5 { padding-left: 10px;top: 300px; width: 90%; }
    #invite .img_2_txt1 { top: 360px; padding-left: 10px; width: 90%;}
    #invite .img_2_txt2 { padding-left: 10px; top: 380px; width: 90%;}

    #invite .img_3_txt3 {top:90px;}
    #invite .img_3_txt4 {top: 170px;}
    #invite .img_3_txt5{top:240px; width: 90%;}
    #invite .img_3_txt1{top:330px; width: 90%;}
    #invite .img_3_txt2{top:350px; width: 90%;}

    #invite .img_4_txt1{padding-left: 15px;width: 45%;}
    #invite .img_4_txt2{padding-left: 15px;top: 30px;width: 45%;}
    #invite .img_4_txt5{width: 45%;}
    #invite .img_4_txt3{ top: 60px;}
    #invite .img_4_txt4{ top: 125px;}

    #invite .img_5_txt1{padding-left: 15px;top: 360px;width: 45%;}
    #invite .img_5_txt2{padding-left: 15px;top: 380px; width: 45%;}
    #invite .img_5_txt5{top: 360px;width: 45%;}
    #invite .img_5_txt3{top: 210px;}
    #invite .img_5_txt4{top: 280px;}
}

.textwidth{
  width: 90% !important
}
